{
  "openapi": "3.1.0",
  "info": {
    "title": "Digital Waste Tracking API",
    "version": "beta-1",
    "description": "Milestone `beta-1` of the waste-movement journey — creation, collection, delivery and receipt."
  },
  "servers": [
    {
      "url": "https://waste-tracking.integration.api.defra.gov.uk/beta-1",
      "description": "Integration / ext-test (public)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Movement",
      "description": "Create and manage a waste movement record."
    },
    {
      "name": "Collection",
      "description": "Record a collection event — waste passing from a producer to a driver."
    },
    {
      "name": "Delivery",
      "description": "Record a delivery event, generating one or more Delivery IDs."
    },
    {
      "name": "Receipt",
      "description": "Record receipt of waste at a receiver site."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "AWS Cognito access token, obtained with the OAuth 2.0 client credentials grant (`POST {authBaseUrl}/oauth2/token` with your client ID and secret). Sent as `Authorization: Bearer <token>`."
      }
    },
    "parameters": {
      "movementIdPath": {
        "name": "movementId",
        "in": "path",
        "required": true,
        "description": "Movement ID minted by `POST /movements`.",
        "schema": {
          "$ref": "#/components/schemas/movementId"
        }
      },
      "deliveryIdPath": {
        "name": "deliveryId",
        "in": "path",
        "required": true,
        "description": "Delivery ID minted by `POST /deliveries`.",
        "schema": {
          "$ref": "#/components/schemas/deliveryId"
        }
      }
    },
    "headers": {
      "RequestId": {
        "description": "Trace id for this request. Quote it to support if something goes wrong.",
        "schema": {
          "type": "string",
          "example": "4c6f9e1a-8f2b-4e3d-9a1c-2b7d5e6f0a3c"
        }
      }
    },
    "schemas": {
      "movementId": {
        "$ref": "./common/movement-id.schema.json"
      },
      "deliveryId": {
        "$ref": "./common/delivery-id.schema.json"
      },
      "createMovementRequest": {
        "$ref": "./create-movement-request.schema.json"
      },
      "recordCollectionRequest": {
        "$ref": "./create-collection-request.schema.json"
      },
      "recordDeliveryRequest": {
        "$ref": "./record-delivery-request.schema.json"
      },
      "recordReceiptRequest": {
        "$ref": "./record-receipt-request.schema.json"
      },
      "recordReceiptWithoutDeliveryRequest": {
        "$ref": "./record-receipt-without-delivery-request.schema.json"
      },
      "issue": {
        "$ref": "./common/issue.schema.json"
      },
      "problemDetails": {
        "type": "object",
        "description": "RFC 9457 Problem Details (`application/problem+json`).",
        "required": ["type", "title", "detail", "instance", "requestId"],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "Stable URI identifying the problem kind.",
            "example": "https://defra.github.io/digital-waste-tracking-api-docs/preview/problems/bad-request"
          },
          "title": {
            "type": "string",
            "description": "Short, stable summary for this problem type.",
            "example": "Request validation failed"
          },
          "detail": {
            "type": "string",
            "description": "Human-readable detail specific to this occurrence.",
            "example": "The request could not be stored because 1 field is invalid."
          },
          "instance": {
            "type": "string",
            "description": "The request path where the problem occurred.",
            "example": "/movements"
          },
          "requestId": {
            "type": "string",
            "description": "Trace id for this request, matching the `x-request-id` header."
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/issue"
            },
            "description": "Field-level problems. Present on 400 responses; omitted otherwise."
          }
        }
      },
      "createMovementResponse": {
        "$ref": "./create-movement-response.schema.json"
      },
      "recordCollectionResponse": {
        "$ref": "./create-collection-response.schema.json"
      },
      "deliveryResponse": {
        "$ref": "./record-delivery-response.schema.json"
      },
      "recordReceiptResponse": {
        "$ref": "./record-receipt-response.schema.json"
      },
      "recordReceiptWithoutDeliveryResponse": {
        "$ref": "./record-receipt-without-delivery-response.schema.json"
      }
    },
    "responses": {
      "400": {
        "description": "The request could not be stored (validation, format or state error).",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/problemDetails"
            }
          }
        }
      },
      "401": {
        "description": "Missing or invalid authentication.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/problemDetails"
            }
          }
        }
      },
      "500": {
        "description": "Unexpected server error.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/problemDetails"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/movements": {
      "post": {
        "tags": ["Movement"],
        "summary": "Create a waste movement",
        "description": "Creates a new waste movement and returns its Movement ID.",
        "operationId": "createMovement",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createMovementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Movement created. Body carries the new Movement ID and any validation warnings.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createMovementResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/movements/{movementId}/collection": {
      "parameters": [
        {
          "$ref": "#/components/parameters/movementIdPath"
        }
      ],
      "post": {
        "tags": ["Collection"],
        "summary": "Record the collection for a movement",
        "description": "Records a collection event for the given movement.",
        "operationId": "recordCollection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/recordCollectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collection recorded. Body carries any validation warnings.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recordCollectionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Movement not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/problemDetails"
                },
                "example": {
                  "type": "https://waste-tracking.service.gov.uk/problems/movement-not-found",
                  "title": "Waste movement not found",
                  "detail": "No waste movement exists with this Movement ID.",
                  "instance": "/movements/25HRA0B2/collection",
                  "requestId": "4c6f9e1a-8f2b-4e3d-9a1c-2b7d5e6f0a3c"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/deliveries": {
      "post": {
        "tags": ["Delivery"],
        "summary": "Record a delivery",
        "description": "Records a delivery event and returns one Delivery ID per distinct waste type among the submitted Movements.",
        "operationId": "recordDelivery",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/recordDeliveryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Delivery recorded. Body carries a list of the new Delivery(ies) — one per distinct waste type — and any validation warnings.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deliveryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/receipts": {
      "post": {
        "tags": ["Receipt"],
        "summary": "Record receipt of waste without a Delivery ID",
        "description": "Fallback for recording receipt with no prior Delivery, e.g. waste received with no movement trail. Not linked to any Movement; `reason` must explain why. The server creates an empty Delivery behind the scenes and returns its `deliveryId`, so the receipt stays addressable.",
        "operationId": "recordReceiptWithoutDelivery",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/recordReceiptWithoutDeliveryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Receipt recorded against a server-created empty Delivery. Body carries the new Delivery ID and any validation warnings.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recordReceiptWithoutDeliveryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/deliveries/{deliveryId}/receipt": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deliveryIdPath"
        }
      ],
      "post": {
        "tags": ["Receipt"],
        "summary": "Record receipt of waste against a delivery",
        "description": "Records receipt of the waste delivered under the given delivery.",
        "operationId": "recordReceipt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/recordReceiptRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Receipt recorded against the delivery. Body carries the Delivery ID and any validation warnings.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recordReceiptResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Delivery not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/problemDetails"
                },
                "example": {
                  "type": "https://waste-tracking.service.gov.uk/problems/delivery-not-found",
                  "title": "Delivery not found",
                  "detail": "No delivery exists with this Delivery ID.",
                  "instance": "/deliveries/25KMT4Z9/receipt",
                  "requestId": "4c6f9e1a-8f2b-4e3d-9a1c-2b7d5e6f0a3c"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    }
  }
}
