# GENERATED by `npm run specs:bundle` from beta-2/openapi.json — do not edit.
openapi: 3.1.0
info:
  title: Digital Waste Tracking API
  version: beta-2
  description: Milestone `beta-2` of the waste-movement journey — creation, collection, delivery and receipt, with data validation. Payload fields are being added a resource at a time; each request schema shows what its endpoint carries so far.
servers:
  - url: https://waste-tracking.integration.api.defra.gov.uk/beta-2
    description: Integration / ext-test (public)
security:
  - bearerAuth: []
    apiCode: []
tags:
  - name: Movement
    description: Create and manage a waste movement record.
  - name: Collection
    description: Record a collection event — waste passing from a producer to a driver.
  - name: Delivery
    description: Record a delivery event, generating one or more Delivery IDs.
  - name: Receipt
    description: Record receipt of waste at a receiver site.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'AWS Cognito access token, obtained with the OAuth 2.0 client credentials grant (`POST {authBaseUrl}/oauth2/token` with your client ID and secret). Sent as `Authorization: Bearer <token>`.'
    apiCode:
      type: apiKey
      in: header
      name: x-api-code
      description: The `apiCode` issued to your organisation, identifying who the submission is made on behalf of. Sent as a header rather than in the request body.
  parameters:
    movementIdPath:
      name: movementId
      in: path
      required: true
      description: Movement ID minted by `POST /movements`.
      schema:
        $schema: https://json-schema.org/draft/2020-12/schema
        title: Movement ID
        description: 'Unique identifier for a waste movement, minted by the server on `POST /movements`. Format: a two-digit year prefix followed by six or seven characters from A–Z and 0–9, 8 or 9 characters in all. Movement IDs and Delivery IDs share this format. Treat it as opaque: don''t parse it.'
        type: string
        pattern: ^[0-9]{2}[A-Z0-9]{6,7}$
        examples:
          - 25HRA0B2
      example: 25HRA0B2
    deliveryIdPath:
      name: deliveryId
      in: path
      required: true
      description: Delivery ID minted by `POST /deliveries`.
      schema:
        $schema: https://json-schema.org/draft/2020-12/schema
        title: Delivery ID
        description: 'Unique identifier for a delivery, minted by the server on `POST /deliveries`. Format: a two-digit year prefix followed by six or seven characters from A–Z and 0–9, 8 or 9 characters in all. Movement IDs and Delivery IDs share this format. Treat it as opaque: don''t parse it.'
        type: string
        pattern: ^[0-9]{2}[A-Z0-9]{6,7}$
        examples:
          - 25KMT4Z9
      example: 25KMT4Z9
  headers:
    RequestId:
      description: Trace id for this request. Quote it to support if something goes wrong.
      required: true
      schema:
        type: string
        example: 4c6f9e1a-8f2b-4e3d-9a1c-2b7d5e6f0a3c
  schemas:
    movementId:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Movement ID
      description: 'Unique identifier for a waste movement, minted by the server on `POST /movements`. Format: a two-digit year prefix followed by six or seven characters from A–Z and 0–9, 8 or 9 characters in all. Movement IDs and Delivery IDs share this format. Treat it as opaque: don''t parse it.'
      type: string
      pattern: ^[0-9]{2}[A-Z0-9]{6,7}$
      examples:
        - 25HRA0B2
    deliveryId:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Delivery ID
      description: 'Unique identifier for a delivery, minted by the server on `POST /deliveries`. Format: a two-digit year prefix followed by six or seven characters from A–Z and 0–9, 8 or 9 characters in all. Movement IDs and Delivery IDs share this format. Treat it as opaque: don''t parse it.'
      type: string
      pattern: ^[0-9]{2}[A-Z0-9]{6,7}$
      examples:
        - 25KMT4Z9
    createMovementRequest:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Create movement request
      description: Payload for POST /beta-2/movements.
      type: object
      properties:
        producer:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Producer
          description: The organisation or party the waste originates from. Required fields vary by wasteSource — see the variants below. For Commercial and Municipal, contactDetails is required (with at least one of emailAddress or phoneNumber within it), and exactly one of authorisationNumber or reasonForNoAuthorisationNumber must be provided; not applicable for Household, where contactDetails and the rest remain forbidden.
          examples:
            - wasteSource: Commercial
              organisationName: ACME Waste Producers Ltd
              authorisationNumber: EAS/P/123456
              sicCode: '38110'
              address:
                fullAddress: 10 Industrial Way, Test City
                postcode: TE1 2PQ
              contactDetails:
                emailAddress: producer@example.com
                phoneNumber: '01234567890'
            - wasteSource: Municipal
              organisationName: Test Council
              reasonForNoAuthorisationNumber: TBC
              address:
                fullAddress: Council Depot, Test City
                postcode: TE1 5CD
              contactDetails:
                emailAddress: waste.services@example.gov.uk
                phoneNumber: '01234567890'
            - wasteSource: Household
          oneOf:
            - $schema: https://json-schema.org/draft/2020-12/schema
              title: Producer (Household)
              description: Producer fields specific to household waste. organisationName, authorisationNumber, sicCode, contactDetails and address do not apply and must not be provided.
              examples:
                - wasteSource: Household
              type: object
              allOf:
                - $schema: https://json-schema.org/draft/2020-12/schema
                  title: Producer base fields
                  description: Fields present on every Producer, regardless of wasteSource.
                  type: object
                  properties: {}
                - type: object
                  properties:
                    wasteSource:
                      const: Household
                      description: Waste originates from a household.
                  required:
                    - wasteSource
              propertyNames:
                enum:
                  - wasteSource
            - $schema: https://json-schema.org/draft/2020-12/schema
              title: Producer (Commercial)
              description: Producer fields specific to commercial waste. organisationName, sicCode, address and contactDetails are required. Exactly one of authorisationNumber or reasonForNoAuthorisationNumber must be provided.
              examples:
                - wasteSource: Commercial
                  organisationName: ACME Waste Producers Ltd
                  authorisationNumber: EAS/P/123456
                  sicCode: '38110'
                  address:
                    fullAddress: 10 Industrial Way, Test City
                    postcode: TE1 2PQ
                  contactDetails:
                    emailAddress: producer@example.com
                    phoneNumber: '01234567890'
              type: object
              allOf:
                - $schema: https://json-schema.org/draft/2020-12/schema
                  title: Producer base fields
                  description: Fields present on every Producer, regardless of wasteSource.
                  type: object
                  properties: {}
                - type: object
                  oneOf:
                    - required:
                        - authorisationNumber
                      properties:
                        authorisationNumber: {}
                        reasonForNoAuthorisationNumber:
                          not: {}
                          description: Not allowed when authorisationNumber is provided.
                    - required:
                        - reasonForNoAuthorisationNumber
                      properties:
                        authorisationNumber:
                          not: {}
                          description: Not allowed when reasonForNoAuthorisationNumber is provided.
                        reasonForNoAuthorisationNumber: {}
                  properties:
                    wasteSource:
                      const: Commercial
                      description: Waste originates from a commercial source.
                    organisationName:
                      type: string
                      minLength: 1
                      description: Producer organisation name.
                    authorisationNumber:
                      type: string
                      pattern: ^\s*(?:(?:[A-Za-z]{2}\d{4}[A-Za-z]{2})|(?:[A-Za-z]{2}\d{4}[A-Za-z]{2}\/[Dd]\d{4,5})|(?:[Ee][Pp][Rr]\/[A-Za-z]{2}\d{4}[A-Za-z]{2})|(?:[Ee][Pp][Rr]\/[A-Za-z]{2}\d{4}[A-Za-z]{2}\/[Dd]\d{4,5})|(?:[Ee][Aa][Ww][Mm][Ll]\d{5,6})|(?:[Ww][Mm][Ll]\d{5,6})|(?:[Pp][Pp][Cc]\/[AaWwEeNn]\/\d{7})|(?:[Ww][Mm][Ll]\/[LlWwEeNn]\/\d{7})|(?:[Ww][Mm][Ll]\/[LlWwEeNn]\/\d{7}\/\d{2})|(?:[Pp][Pp][Cc]\/[Aa]\/[Ss][Ee][Pp][Aa]\d{4}-\d{4})|(?:[Ww][Mm][Ll]\/[Ll]\/[Ss][Ee][Pp][Aa]\d{4}-\d{4})|(?:[Ee][Aa][Ss]\/[Pp]\/\d{6})|(?:[Pp]\d{4}\/\d{2}[A-Za-z])|(?:[Pp]\d{4}\/\d{2}[A-Za-z]\/[Vv]\d+)|(?:[Ww][Pp][Pp][Cc] \d{2}\/\d{2})|(?:[Ww][Pp][Pp][Cc] \d{2}\/\d{2}\/[Vv]\d+)|(?:[Ww][Mm][Ll] \d{2}\/\d+(\/[Tt])? [Ll][Nn]\/\d{2}\/\d+(\/([MmTtCcNn]|[Vv]\d+))*)|(?:[Ww][Mm][Ll] \d{2}\/\d+ [Pp][Aa][Cc]\/\d{4}\/[Ww][Cc][Ll]\d{3}))\s*$
                      description: Producer environmental permit or exemption number, in a valid UK format. Mutually exclusive with reasonForNoAuthorisationNumber — exactly one of the two is required.
                    reasonForNoAuthorisationNumber:
                      type: string
                      minLength: 1
                      description: Reason no authorisationNumber is held. Free text for now — enum values TBC pending BA/policy input. Mutually exclusive with authorisationNumber — exactly one of the two is required.
                    sicCode:
                      type: string
                      pattern: ^\d{5}$
                      description: Five-digit Standard Industrial Classification code.
                    contactDetails:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      title: Contact details
                      description: Contact details for a party. At least one of emailAddress or phoneNumber must be provided.
                      examples:
                        - emailAddress: producer@example.com
                          phoneNumber: '01234567890'
                        - emailAddress: producer@example.com
                      type: object
                      properties:
                        emailAddress:
                          type: string
                          format: email
                          description: Contact email address.
                        phoneNumber:
                          type: string
                          pattern: ^\s*(?=(?:\D*\d){7,15}\D*$)\+?[0-9()\-\s]+$
                          description: Contact phone number, in a valid format.
                      anyOf:
                        - properties:
                            emailAddress: {}
                          required:
                            - emailAddress
                        - properties:
                            phoneNumber: {}
                          required:
                            - phoneNumber
                    address:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      title: Address
                      description: A UK or Irish postal address. fullAddress is optional; postcode is required.
                      examples:
                        - fullAddress: 10 Industrial Way, Test City
                          postcode: TE1 2PQ
                      type: object
                      properties:
                        fullAddress:
                          type: string
                          minLength: 1
                          description: Full address line.
                        postcode:
                          type: string
                          pattern: ^\s*(?:(?:(([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z]\d{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y]\d{1,2})|(([A-Za-z]\d[A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y]\d?[A-Za-z])))) \d[A-Za-z]{2})))|(?:(?:[Dd]6[Ww]|[AaC-Fc-fHhKkNnPpRrTtV-Yv-y]\d{2}) ?[0-9AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{4}))\s*$
                          description: Accepts UK postcodes and Irish Eircodes.
                      required:
                        - postcode
                  required:
                    - wasteSource
                    - organisationName
                    - sicCode
                    - address
                    - contactDetails
              propertyNames:
                enum:
                  - wasteSource
                  - organisationName
                  - authorisationNumber
                  - reasonForNoAuthorisationNumber
                  - sicCode
                  - contactDetails
                  - address
            - $schema: https://json-schema.org/draft/2020-12/schema
              title: Producer (Municipal)
              description: Producer fields specific to municipal waste. organisationName, address and contactDetails are required; sicCode is optional. Exactly one of authorisationNumber or reasonForNoAuthorisationNumber must be provided.
              examples:
                - wasteSource: Municipal
                  organisationName: Test Council
                  reasonForNoAuthorisationNumber: TBC
                  address:
                    fullAddress: Council Depot, Test City
                    postcode: TE1 5CD
                  contactDetails:
                    emailAddress: waste.services@example.gov.uk
                    phoneNumber: '01234567890'
              type: object
              allOf:
                - $schema: https://json-schema.org/draft/2020-12/schema
                  title: Producer base fields
                  description: Fields present on every Producer, regardless of wasteSource.
                  type: object
                  properties: {}
                - type: object
                  oneOf:
                    - required:
                        - authorisationNumber
                      properties:
                        authorisationNumber: {}
                        reasonForNoAuthorisationNumber:
                          not: {}
                          description: Not allowed when authorisationNumber is provided.
                    - required:
                        - reasonForNoAuthorisationNumber
                      properties:
                        authorisationNumber:
                          not: {}
                          description: Not allowed when reasonForNoAuthorisationNumber is provided.
                        reasonForNoAuthorisationNumber: {}
                  properties:
                    wasteSource:
                      const: Municipal
                      description: Waste originates from a municipal source.
                    organisationName:
                      type: string
                      minLength: 1
                      description: Producer organisation name.
                    authorisationNumber:
                      type: string
                      pattern: ^\s*(?:(?:[A-Za-z]{2}\d{4}[A-Za-z]{2})|(?:[A-Za-z]{2}\d{4}[A-Za-z]{2}\/[Dd]\d{4,5})|(?:[Ee][Pp][Rr]\/[A-Za-z]{2}\d{4}[A-Za-z]{2})|(?:[Ee][Pp][Rr]\/[A-Za-z]{2}\d{4}[A-Za-z]{2}\/[Dd]\d{4,5})|(?:[Ee][Aa][Ww][Mm][Ll]\d{5,6})|(?:[Ww][Mm][Ll]\d{5,6})|(?:[Pp][Pp][Cc]\/[AaWwEeNn]\/\d{7})|(?:[Ww][Mm][Ll]\/[LlWwEeNn]\/\d{7})|(?:[Ww][Mm][Ll]\/[LlWwEeNn]\/\d{7}\/\d{2})|(?:[Pp][Pp][Cc]\/[Aa]\/[Ss][Ee][Pp][Aa]\d{4}-\d{4})|(?:[Ww][Mm][Ll]\/[Ll]\/[Ss][Ee][Pp][Aa]\d{4}-\d{4})|(?:[Ee][Aa][Ss]\/[Pp]\/\d{6})|(?:[Pp]\d{4}\/\d{2}[A-Za-z])|(?:[Pp]\d{4}\/\d{2}[A-Za-z]\/[Vv]\d+)|(?:[Ww][Pp][Pp][Cc] \d{2}\/\d{2})|(?:[Ww][Pp][Pp][Cc] \d{2}\/\d{2}\/[Vv]\d+)|(?:[Ww][Mm][Ll] \d{2}\/\d+(\/[Tt])? [Ll][Nn]\/\d{2}\/\d+(\/([MmTtCcNn]|[Vv]\d+))*)|(?:[Ww][Mm][Ll] \d{2}\/\d+ [Pp][Aa][Cc]\/\d{4}\/[Ww][Cc][Ll]\d{3}))\s*$
                      description: Producer environmental permit or exemption number, in a valid UK format. Mutually exclusive with reasonForNoAuthorisationNumber — exactly one of the two is required.
                    reasonForNoAuthorisationNumber:
                      type: string
                      minLength: 1
                      description: Reason no authorisationNumber is held. Free text for now — enum values TBC pending BA/policy input. Mutually exclusive with authorisationNumber — exactly one of the two is required.
                    sicCode:
                      type: string
                      pattern: ^\d{5}$
                      description: Five-digit Standard Industrial Classification code.
                    contactDetails:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      title: Contact details
                      description: Contact details for a party. At least one of emailAddress or phoneNumber must be provided.
                      examples:
                        - emailAddress: producer@example.com
                          phoneNumber: '01234567890'
                        - emailAddress: producer@example.com
                      type: object
                      properties:
                        emailAddress:
                          type: string
                          format: email
                          description: Contact email address.
                        phoneNumber:
                          type: string
                          pattern: ^\s*(?=(?:\D*\d){7,15}\D*$)\+?[0-9()\-\s]+$
                          description: Contact phone number, in a valid format.
                      anyOf:
                        - properties:
                            emailAddress: {}
                          required:
                            - emailAddress
                        - properties:
                            phoneNumber: {}
                          required:
                            - phoneNumber
                    address:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      title: Address
                      description: A UK or Irish postal address. fullAddress is optional; postcode is required.
                      examples:
                        - fullAddress: 10 Industrial Way, Test City
                          postcode: TE1 2PQ
                      type: object
                      properties:
                        fullAddress:
                          type: string
                          minLength: 1
                          description: Full address line.
                        postcode:
                          type: string
                          pattern: ^\s*(?:(?:(([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z]\d{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y]\d{1,2})|(([A-Za-z]\d[A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y]\d?[A-Za-z])))) \d[A-Za-z]{2})))|(?:(?:[Dd]6[Ww]|[AaC-Fc-fHhKkNnPpRrTtV-Yv-y]\d{2}) ?[0-9AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{4}))\s*$
                          description: Accepts UK postcodes and Irish Eircodes.
                      required:
                        - postcode
                  required:
                    - wasteSource
                    - organisationName
                    - address
                    - contactDetails
              propertyNames:
                enum:
                  - wasteSource
                  - organisationName
                  - authorisationNumber
                  - reasonForNoAuthorisationNumber
                  - sicCode
                  - contactDetails
                  - address
        intendedCarriers:
          type: array
          items:
            $schema: https://json-schema.org/draft/2020-12/schema
            title: Carrier
            description: A single waste carrier. organisationName, meansOfTransport and contactDetails are required, and exactly one of registrationNumber or reasonForNoRegistrationNumber must be provided. vehicleRegistration is required for Road and otherMeansOfTransport for Other; each is forbidden otherwise. address is optional.
            type: object
            oneOf:
              - required:
                  - registrationNumber
                properties:
                  registrationNumber: {}
                  reasonForNoRegistrationNumber:
                    not: {}
                    description: Not allowed when registrationNumber is provided.
              - required:
                  - reasonForNoRegistrationNumber
                properties:
                  registrationNumber:
                    not: {}
                    description: Not allowed when reasonForNoRegistrationNumber is provided.
                  reasonForNoRegistrationNumber: {}
            allOf:
              - if:
                  properties:
                    meansOfTransport:
                      const: Road
                  required:
                    - meansOfTransport
                then:
                  properties:
                    vehicleRegistration: {}
                  required:
                    - vehicleRegistration
                else:
                  properties:
                    vehicleRegistration:
                      not: {}
                      description: Not allowed unless meansOfTransport is Road.
              - if:
                  properties:
                    meansOfTransport:
                      const: Other
                  required:
                    - meansOfTransport
                then:
                  properties:
                    otherMeansOfTransport: {}
                  required:
                    - otherMeansOfTransport
                else:
                  properties:
                    otherMeansOfTransport:
                      not: {}
                      description: Not allowed unless meansOfTransport is Other.
            properties:
              organisationName:
                type: string
                minLength: 1
                description: Name of the carrier organisation.
              registrationNumber:
                description: Waste carrier registration number, in a valid UK home-nation format (England and NRW CBDU/CBDL, SEPA WCR/SCO/SEA/SNO/SWE and PCT, NI ROC UT/LT). Mutually exclusive with reasonForNoRegistrationNumber — exactly one of the two is required.
                $schema: https://json-schema.org/draft/2020-12/schema
                title: Registration number
                type: string
                pattern: ^\s*(?:[Cc][Bb][Dd][LlUu]\d{3,}|[Ww][Cc][Rr]/[Rr]/\d{7}|(?:[Ss][Cc][Oo]|[Ss][Ee][Aa]|[Ss][Nn][Oo]|[Ss][Ww][Ee]|[Ww][Cc][Rr])/\d{6}|[Pp][Cc][Tt]-[A-Za-z]-\d{3,7}|[Rr][Oo][Cc]\W*[UuLl][Tt]\W*\d{1,5})\s*$
              reasonForNoRegistrationNumber:
                type: string
                enum:
                  - ON_SITE
                  - HOUSEHOLD
                  - ONE_OFF
                  - MARINE
                description: Why the carrier has no registration number. Mutually exclusive with registrationNumber — exactly one of the two is required.
              meansOfTransport:
                type: string
                enum:
                  - Road
                  - Rail
                  - Air
                  - Sea
                  - Inland Waterway
                  - Piped
                  - Other
                description: How the carrier will transport the waste.
              vehicleRegistration:
                type: string
                minLength: 1
                description: Registration of the vehicle carrying the waste. Required when meansOfTransport is Road; forbidden otherwise.
              otherMeansOfTransport:
                type: string
                minLength: 1
                description: Description of the means of transport. Required when meansOfTransport is Other; forbidden otherwise.
              contactDetails:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: Contact details
                description: Contact details for a party. At least one of emailAddress or phoneNumber must be provided.
                examples:
                  - emailAddress: producer@example.com
                    phoneNumber: '01234567890'
                  - emailAddress: producer@example.com
                type: object
                properties:
                  emailAddress:
                    type: string
                    format: email
                    description: Contact email address.
                  phoneNumber:
                    type: string
                    pattern: ^\s*(?=(?:\D*\d){7,15}\D*$)\+?[0-9()\-\s]+$
                    description: Contact phone number, in a valid format.
                anyOf:
                  - properties:
                      emailAddress: {}
                    required:
                      - emailAddress
                  - properties:
                      phoneNumber: {}
                    required:
                      - phoneNumber
              address:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: Address
                description: A UK or Irish postal address. fullAddress is optional; postcode is required.
                examples:
                  - fullAddress: 10 Industrial Way, Test City
                    postcode: TE1 2PQ
                type: object
                properties:
                  fullAddress:
                    type: string
                    minLength: 1
                    description: Full address line.
                  postcode:
                    type: string
                    pattern: ^\s*(?:(?:(([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z]\d{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y]\d{1,2})|(([A-Za-z]\d[A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y]\d?[A-Za-z])))) \d[A-Za-z]{2})))|(?:(?:[Dd]6[Ww]|[AaC-Fc-fHhKkNnPpRrTtV-Yv-y]\d{2}) ?[0-9AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{4}))\s*$
                    description: Accepts UK postcodes and Irish Eircodes.
                required:
                  - postcode
            required:
              - organisationName
              - meansOfTransport
              - contactDetails
            additionalProperties: false
          minItems: 1
          description: The carriers intended to transport the waste. At least one is required.
        intendedReceivers:
          type: array
          items:
            $schema: https://json-schema.org/draft/2020-12/schema
            title: Receiver
            description: A single intended receiver. siteName, authorisationNumber, receiptAddress and contactDetails are all required.
            type: object
            properties:
              siteName:
                type: string
                minLength: 1
                description: Name of the receiving site.
              authorisationNumber:
                description: Receiver environmental permit or exemption number, in a valid UK format.
                $schema: https://json-schema.org/draft/2020-12/schema
                title: Authorisation number
                type: string
                pattern: ^\s*(?:(?:[A-Za-z]{2}\d{4}[A-Za-z]{2})|(?:[A-Za-z]{2}\d{4}[A-Za-z]{2}\/[Dd]\d{4,5})|(?:[Ee][Pp][Rr]\/[A-Za-z]{2}\d{4}[A-Za-z]{2})|(?:[Ee][Pp][Rr]\/[A-Za-z]{2}\d{4}[A-Za-z]{2}\/[Dd]\d{4,5})|(?:[Ee][Aa][Ww][Mm][Ll]\d{5,6})|(?:[Ww][Mm][Ll]\d{5,6})|(?:[Pp][Pp][Cc]\/[AaWwEeNn]\/\d{7})|(?:[Ww][Mm][Ll]\/[LlWwEeNn]\/\d{7})|(?:[Ww][Mm][Ll]\/[LlWwEeNn]\/\d{7}\/\d{2})|(?:[Pp][Pp][Cc]\/[Aa]\/[Ss][Ee][Pp][Aa]\d{4}-\d{4})|(?:[Ww][Mm][Ll]\/[Ll]\/[Ss][Ee][Pp][Aa]\d{4}-\d{4})|(?:[Ee][Aa][Ss]\/[Pp]\/\d{6})|(?:[Pp]\d{4}\/\d{2}[A-Za-z])|(?:[Pp]\d{4}\/\d{2}[A-Za-z]\/[Vv]\d+)|(?:[Ww][Pp][Pp][Cc] \d{2}\/\d{2})|(?:[Ww][Pp][Pp][Cc] \d{2}\/\d{2}\/[Vv]\d+)|(?:[Ww][Mm][Ll] \d{2}\/\d+(\/[Tt])? [Ll][Nn]\/\d{2}\/\d+(\/([MmTtCcNn]|[Vv]\d+))*)|(?:[Ww][Mm][Ll] \d{2}\/\d+ [Pp][Aa][Cc]\/\d{4}\/[Ww][Cc][Ll]\d{3}))\s*$
              receiptAddress:
                description: Address the waste will be received at. postcode is required; fullAddress is optional.
                $schema: https://json-schema.org/draft/2020-12/schema
                title: Address
                examples:
                  - fullAddress: 10 Industrial Way, Test City
                    postcode: TE1 2PQ
                type: object
                properties:
                  fullAddress:
                    type: string
                    minLength: 1
                    description: Full address line.
                  postcode:
                    type: string
                    pattern: ^\s*(?:(?:(([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z]\d{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y]\d{1,2})|(([A-Za-z]\d[A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y]\d?[A-Za-z])))) \d[A-Za-z]{2})))|(?:(?:[Dd]6[Ww]|[AaC-Fc-fHhKkNnPpRrTtV-Yv-y]\d{2}) ?[0-9AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{4}))\s*$
                    description: Accepts UK postcodes and Irish Eircodes.
                required:
                  - postcode
              contactDetails:
                description: How to contact the receiving site. At least one of emailAddress or phoneNumber is required.
                $schema: https://json-schema.org/draft/2020-12/schema
                title: Contact details
                examples:
                  - emailAddress: producer@example.com
                    phoneNumber: '01234567890'
                  - emailAddress: producer@example.com
                type: object
                properties:
                  emailAddress:
                    type: string
                    format: email
                    description: Contact email address.
                  phoneNumber:
                    type: string
                    pattern: ^\s*(?=(?:\D*\d){7,15}\D*$)\+?[0-9()\-\s]+$
                    description: Contact phone number, in a valid format.
                anyOf:
                  - properties:
                      emailAddress: {}
                    required:
                      - emailAddress
                  - properties:
                      phoneNumber: {}
                    required:
                      - phoneNumber
            required:
              - siteName
              - authorisationNumber
              - receiptAddress
              - contactDetails
            additionalProperties: false
          minItems: 1
          description: The intended receivers of the waste. At least one is required.
        wasteItems:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Waste items
          description: The items of waste in a movement. At least one is required.
          type: array
          minItems: 1
          items:
            $schema: https://json-schema.org/draft/2020-12/schema
            title: Waste item
            description: A single item of waste in a movement. physicalDetails is required.
            examples:
              - physicalDetails:
                  form: SOLID
                  containerType: DRU
                  containerCount: 4
                  totalWeight:
                    amount: 250.5
                    unit: KILOGRAMS
                    isEstimate: false
              - physicalDetails:
                  form: MIXED
                  containerType: LOO
                  containerCount: 0
                  totalWeight:
                    amount: 2
                    unit: TONNES
                    isEstimate: true
            type: object
            properties:
              physicalDetails:
                description: The physical form, containers and total weight of the waste item.
                $schema: https://json-schema.org/draft/2020-12/schema
                title: Physical details
                type: object
                allOf:
                  - if:
                      properties:
                        containerType:
                          const: LOO
                      required:
                        - containerType
                    then:
                      properties:
                        containerCount:
                          const: 0
                          description: Must be 0 when the waste is loose (containerType LOO).
                    else:
                      properties:
                        containerCount:
                          type: integer
                          minimum: 1
                          description: Must be at least 1 unless the waste is loose (containerType LOO).
                properties:
                  form:
                    type: string
                    enum:
                      - GAS
                      - LIQUID
                      - SOLID
                      - POWDER
                      - SLUDGE
                      - MIXED
                    description: The physical form of the waste. Case-sensitive.
                  containerType:
                    type: string
                    enum:
                      - BAG
                      - BAL
                      - BOX
                      - CAN
                      - CAR
                      - CAS
                      - CON
                      - DRU
                      - FIB
                      - IBC
                      - LOO
                      - PAL
                      - ROR
                      - SKI
                      - TAN
                      - WBI
                    description: Code for how the waste is contained. LOO means the waste is loose, with no containers. Case-sensitive.
                  containerCount:
                    type: integer
                    minimum: 0
                    description: 'The number of containers: a whole number of 0 or more. Must be 0 when containerType is LOO, and at least 1 for any other container type.'
                  totalWeight:
                    description: The total weight of the waste item.
                    $schema: https://json-schema.org/draft/2020-12/schema
                    title: Weight
                    type: object
                    properties:
                      amount:
                        type: number
                        exclusiveMinimum: 0
                        description: The weight, in the given unit. Must be greater than 0.
                      unit:
                        type: string
                        enum:
                          - GRAMS
                          - KILOGRAMS
                          - TONNES
                        description: The unit the amount is measured in. Case-sensitive.
                      isEstimate:
                        type: boolean
                        description: Whether the weight is estimated (true) or actual (false).
                    required:
                      - amount
                      - unit
                      - isEstimate
                    additionalProperties: false
                required:
                  - form
                  - containerType
                  - containerCount
                  - totalWeight
                additionalProperties: false
            required:
              - physicalDetails
            additionalProperties: false
        brokerOrDealer:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Broker or dealer involvement
          description: 'Declares whether any broker or dealer was involved in the movement, and their details. isPresent gates the items array: when true at least one entry is required, when false or absent entries are forbidden.'
          examples:
            - isPresent: true
              items:
                - organisationName: Broker Demo Ltd
                  registrationNumber: CBDU654321
                  contactDetails:
                    emailAddress: broker@example.com
                    phoneNumber: '01112223333'
                  address:
                    fullAddress: 2 Broker Yard, Test City
                    postcode: TE1 1ST
            - isPresent: false
          type: object
          oneOf:
            - required:
                - isPresent
                - items
              properties:
                isPresent:
                  const: true
                items:
                  type: array
                  minItems: 1
            - properties:
                isPresent:
                  const: false
                items:
                  not: {}
                  description: Not allowed when isPresent is false or absent.
          properties:
            isPresent:
              type: boolean
              description: Whether a broker or dealer was involved in arranging the movement. Absent is equivalent to false.
            items:
              type: array
              items:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: Broker or dealer
                description: A single broker or dealer who arranged the transfer. organisationName and contactDetails are required, and exactly one of registrationNumber or reasonForNoRegistrationNumber must be provided. address is optional.
                examples:
                  - organisationName: Broker Demo Ltd
                    registrationNumber: CBDU654321
                    contactDetails:
                      emailAddress: broker@example.com
                      phoneNumber: '01112223333'
                    address:
                      fullAddress: 2 Broker Yard, Test City
                      postcode: TE1 1ST
                  - organisationName: Broker Demo Ltd
                    reasonForNoRegistrationNumber: ONE_OFF
                    contactDetails:
                      emailAddress: broker@example.com
                type: object
                oneOf:
                  - required:
                      - registrationNumber
                    properties:
                      registrationNumber: {}
                      reasonForNoRegistrationNumber:
                        not: {}
                        description: Not allowed when registrationNumber is provided.
                  - required:
                      - reasonForNoRegistrationNumber
                    properties:
                      registrationNumber:
                        not: {}
                        description: Not allowed when reasonForNoRegistrationNumber is provided.
                      reasonForNoRegistrationNumber: {}
                properties:
                  organisationName:
                    type: string
                    minLength: 1
                    description: Name of the broker or dealer organisation who arranged this transfer.
                  registrationNumber:
                    description: Waste carrier, broker or dealer registration number, in a valid UK home-nation format (England and NRW CBDU/CBDL, SEPA WCR/SCO/SEA/SNO/SWE and PCT, NI ROC UT/LT). Mutually exclusive with reasonForNoRegistrationNumber — exactly one of the two is required.
                    $schema: https://json-schema.org/draft/2020-12/schema
                    title: Registration number
                    type: string
                    pattern: ^\s*(?:[Cc][Bb][Dd][LlUu]\d{3,}|[Ww][Cc][Rr]/[Rr]/\d{7}|(?:[Ss][Cc][Oo]|[Ss][Ee][Aa]|[Ss][Nn][Oo]|[Ss][Ww][Ee]|[Ww][Cc][Rr])/\d{6}|[Pp][Cc][Tt]-[A-Za-z]-\d{3,7}|[Rr][Oo][Cc]\W*[UuLl][Tt]\W*\d{1,5})\s*$
                  reasonForNoRegistrationNumber:
                    type: string
                    minLength: 1
                    description: Reason no registrationNumber is held. Free text for now — enum values TBC pending BA/policy input. Mutually exclusive with registrationNumber — exactly one of the two is required.
                  contactDetails:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    title: Contact details
                    description: Contact details for a party. At least one of emailAddress or phoneNumber must be provided.
                    examples:
                      - emailAddress: producer@example.com
                        phoneNumber: '01234567890'
                      - emailAddress: producer@example.com
                    type: object
                    properties:
                      emailAddress:
                        type: string
                        format: email
                        description: Contact email address.
                      phoneNumber:
                        type: string
                        pattern: ^\s*(?=(?:\D*\d){7,15}\D*$)\+?[0-9()\-\s]+$
                        description: Contact phone number, in a valid format.
                    anyOf:
                      - properties:
                          emailAddress: {}
                        required:
                          - emailAddress
                      - properties:
                          phoneNumber: {}
                        required:
                          - phoneNumber
                  address:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    title: Address
                    description: A UK or Irish postal address. fullAddress is optional; postcode is required.
                    examples:
                      - fullAddress: 10 Industrial Way, Test City
                        postcode: TE1 2PQ
                    type: object
                    properties:
                      fullAddress:
                        type: string
                        minLength: 1
                        description: Full address line.
                      postcode:
                        type: string
                        pattern: ^\s*(?:(?:(([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z]\d{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y]\d{1,2})|(([A-Za-z]\d[A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y]\d?[A-Za-z])))) \d[A-Za-z]{2})))|(?:(?:[Dd]6[Ww]|[AaC-Fc-fHhKkNnPpRrTtV-Yv-y]\d{2}) ?[0-9AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{4}))\s*$
                        description: Accepts UK postcodes and Irish Eircodes.
                    required:
                      - postcode
                required:
                  - organisationName
                  - contactDetails
                additionalProperties: false
              description: The brokers or dealers involved. Required with at least one entry when isPresent is true, and must not be provided otherwise. More than one may be declared.
          additionalProperties: false
        supportingReferences:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Supporting references
          description: label/reference pairs for the movement. Both reference and label are required for every entry.
          examples:
            - - label: PO Number
                reference: PO-123456
              - label: Job Number
                reference: CARRIER-JOB-001
          type: array
          minItems: 1
          items:
            type: object
            properties:
              reference:
                type: string
                minLength: 1
                maxLength: 50
                description: Reference value — must be supplied together with its label.
              label:
                type: string
                enum:
                  - Weighbridge Number
                  - PO Number
                  - Job Number
                  - Invoice Number
                  - Waste Ticket Number
                  - Other
                description: Label identifying the reference type.
            required:
              - reference
              - label
            additionalProperties: false
        specialHandlingRequirements:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Special handling requirements
          description: Free-text operational handling instructions for the movement — for example fragile, temperature-sensitive, or keep upright. Limited to 500 characters. Omit the field entirely when there are none.
          examples:
            - Handle with care and keep upright.
          type: string
          minLength: 1
          maxLength: 500
      required:
        - producer
        - intendedCarriers
        - intendedReceivers
        - wasteItems
      additionalProperties: false
    recordCollectionRequest:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Create collection request
      description: Payload for POST /beta-2/movements/{movementId}/collection.
      type: object
      properties:
        carrier:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Carrier
          description: A single waste carrier. organisationName, meansOfTransport and contactDetails are required, and exactly one of registrationNumber or reasonForNoRegistrationNumber must be provided. vehicleRegistration is required for Road and otherMeansOfTransport for Other; each is forbidden otherwise. address is optional.
          type: object
          oneOf:
            - required:
                - registrationNumber
              properties:
                registrationNumber: {}
                reasonForNoRegistrationNumber:
                  not: {}
                  description: Not allowed when registrationNumber is provided.
            - required:
                - reasonForNoRegistrationNumber
              properties:
                registrationNumber:
                  not: {}
                  description: Not allowed when reasonForNoRegistrationNumber is provided.
                reasonForNoRegistrationNumber: {}
          allOf:
            - if:
                properties:
                  meansOfTransport:
                    const: Road
                required:
                  - meansOfTransport
              then:
                properties:
                  vehicleRegistration: {}
                required:
                  - vehicleRegistration
              else:
                properties:
                  vehicleRegistration:
                    not: {}
                    description: Not allowed unless meansOfTransport is Road.
            - if:
                properties:
                  meansOfTransport:
                    const: Other
                required:
                  - meansOfTransport
              then:
                properties:
                  otherMeansOfTransport: {}
                required:
                  - otherMeansOfTransport
              else:
                properties:
                  otherMeansOfTransport:
                    not: {}
                    description: Not allowed unless meansOfTransport is Other.
          properties:
            organisationName:
              type: string
              minLength: 1
              description: Name of the carrier organisation.
            registrationNumber:
              description: Waste carrier registration number, in a valid UK home-nation format (England and NRW CBDU/CBDL, SEPA WCR/SCO/SEA/SNO/SWE and PCT, NI ROC UT/LT). Mutually exclusive with reasonForNoRegistrationNumber — exactly one of the two is required.
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Registration number
              type: string
              pattern: ^\s*(?:[Cc][Bb][Dd][LlUu]\d{3,}|[Ww][Cc][Rr]/[Rr]/\d{7}|(?:[Ss][Cc][Oo]|[Ss][Ee][Aa]|[Ss][Nn][Oo]|[Ss][Ww][Ee]|[Ww][Cc][Rr])/\d{6}|[Pp][Cc][Tt]-[A-Za-z]-\d{3,7}|[Rr][Oo][Cc]\W*[UuLl][Tt]\W*\d{1,5})\s*$
            reasonForNoRegistrationNumber:
              type: string
              enum:
                - ON_SITE
                - HOUSEHOLD
                - ONE_OFF
                - MARINE
              description: Why the carrier has no registration number. Mutually exclusive with registrationNumber — exactly one of the two is required.
            meansOfTransport:
              type: string
              enum:
                - Road
                - Rail
                - Air
                - Sea
                - Inland Waterway
                - Piped
                - Other
              description: How the carrier will transport the waste.
            vehicleRegistration:
              type: string
              minLength: 1
              description: Registration of the vehicle carrying the waste. Required when meansOfTransport is Road; forbidden otherwise.
            otherMeansOfTransport:
              type: string
              minLength: 1
              description: Description of the means of transport. Required when meansOfTransport is Other; forbidden otherwise.
            contactDetails:
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Contact details
              description: Contact details for a party. At least one of emailAddress or phoneNumber must be provided.
              examples:
                - emailAddress: producer@example.com
                  phoneNumber: '01234567890'
                - emailAddress: producer@example.com
              type: object
              properties:
                emailAddress:
                  type: string
                  format: email
                  description: Contact email address.
                phoneNumber:
                  type: string
                  pattern: ^\s*(?=(?:\D*\d){7,15}\D*$)\+?[0-9()\-\s]+$
                  description: Contact phone number, in a valid format.
              anyOf:
                - properties:
                    emailAddress: {}
                  required:
                    - emailAddress
                - properties:
                    phoneNumber: {}
                  required:
                    - phoneNumber
            address:
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Address
              description: A UK or Irish postal address. fullAddress is optional; postcode is required.
              examples:
                - fullAddress: 10 Industrial Way, Test City
                  postcode: TE1 2PQ
              type: object
              properties:
                fullAddress:
                  type: string
                  minLength: 1
                  description: Full address line.
                postcode:
                  type: string
                  pattern: ^\s*(?:(?:(([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z]\d{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y]\d{1,2})|(([A-Za-z]\d[A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y]\d?[A-Za-z])))) \d[A-Za-z]{2})))|(?:(?:[Dd]6[Ww]|[AaC-Fc-fHhKkNnPpRrTtV-Yv-y]\d{2}) ?[0-9AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{4}))\s*$
                  description: Accepts UK postcodes and Irish Eircodes.
              required:
                - postcode
          required:
            - organisationName
            - meansOfTransport
            - contactDetails
          additionalProperties: false
        brokerOrDealer:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Broker or dealer involvement
          description: 'Declares whether any broker or dealer was involved in the movement, and their details. isPresent gates the items array: when true at least one entry is required, when false or absent entries are forbidden.'
          examples:
            - isPresent: true
              items:
                - organisationName: Broker Demo Ltd
                  registrationNumber: CBDU654321
                  contactDetails:
                    emailAddress: broker@example.com
                    phoneNumber: '01112223333'
                  address:
                    fullAddress: 2 Broker Yard, Test City
                    postcode: TE1 1ST
            - isPresent: false
          type: object
          oneOf:
            - required:
                - isPresent
                - items
              properties:
                isPresent:
                  const: true
                items:
                  type: array
                  minItems: 1
            - properties:
                isPresent:
                  const: false
                items:
                  not: {}
                  description: Not allowed when isPresent is false or absent.
          properties:
            isPresent:
              type: boolean
              description: Whether a broker or dealer was involved in arranging the movement. Absent is equivalent to false.
            items:
              type: array
              items:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: Broker or dealer
                description: A single broker or dealer who arranged the transfer. organisationName and contactDetails are required, and exactly one of registrationNumber or reasonForNoRegistrationNumber must be provided. address is optional.
                examples:
                  - organisationName: Broker Demo Ltd
                    registrationNumber: CBDU654321
                    contactDetails:
                      emailAddress: broker@example.com
                      phoneNumber: '01112223333'
                    address:
                      fullAddress: 2 Broker Yard, Test City
                      postcode: TE1 1ST
                  - organisationName: Broker Demo Ltd
                    reasonForNoRegistrationNumber: ONE_OFF
                    contactDetails:
                      emailAddress: broker@example.com
                type: object
                oneOf:
                  - required:
                      - registrationNumber
                    properties:
                      registrationNumber: {}
                      reasonForNoRegistrationNumber:
                        not: {}
                        description: Not allowed when registrationNumber is provided.
                  - required:
                      - reasonForNoRegistrationNumber
                    properties:
                      registrationNumber:
                        not: {}
                        description: Not allowed when reasonForNoRegistrationNumber is provided.
                      reasonForNoRegistrationNumber: {}
                properties:
                  organisationName:
                    type: string
                    minLength: 1
                    description: Name of the broker or dealer organisation who arranged this transfer.
                  registrationNumber:
                    description: Waste carrier, broker or dealer registration number, in a valid UK home-nation format (England and NRW CBDU/CBDL, SEPA WCR/SCO/SEA/SNO/SWE and PCT, NI ROC UT/LT). Mutually exclusive with reasonForNoRegistrationNumber — exactly one of the two is required.
                    $schema: https://json-schema.org/draft/2020-12/schema
                    title: Registration number
                    type: string
                    pattern: ^\s*(?:[Cc][Bb][Dd][LlUu]\d{3,}|[Ww][Cc][Rr]/[Rr]/\d{7}|(?:[Ss][Cc][Oo]|[Ss][Ee][Aa]|[Ss][Nn][Oo]|[Ss][Ww][Ee]|[Ww][Cc][Rr])/\d{6}|[Pp][Cc][Tt]-[A-Za-z]-\d{3,7}|[Rr][Oo][Cc]\W*[UuLl][Tt]\W*\d{1,5})\s*$
                  reasonForNoRegistrationNumber:
                    type: string
                    minLength: 1
                    description: Reason no registrationNumber is held. Free text for now — enum values TBC pending BA/policy input. Mutually exclusive with registrationNumber — exactly one of the two is required.
                  contactDetails:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    title: Contact details
                    description: Contact details for a party. At least one of emailAddress or phoneNumber must be provided.
                    examples:
                      - emailAddress: producer@example.com
                        phoneNumber: '01234567890'
                      - emailAddress: producer@example.com
                    type: object
                    properties:
                      emailAddress:
                        type: string
                        format: email
                        description: Contact email address.
                      phoneNumber:
                        type: string
                        pattern: ^\s*(?=(?:\D*\d){7,15}\D*$)\+?[0-9()\-\s]+$
                        description: Contact phone number, in a valid format.
                    anyOf:
                      - properties:
                          emailAddress: {}
                        required:
                          - emailAddress
                      - properties:
                          phoneNumber: {}
                        required:
                          - phoneNumber
                  address:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    title: Address
                    description: A UK or Irish postal address. fullAddress is optional; postcode is required.
                    examples:
                      - fullAddress: 10 Industrial Way, Test City
                        postcode: TE1 2PQ
                    type: object
                    properties:
                      fullAddress:
                        type: string
                        minLength: 1
                        description: Full address line.
                      postcode:
                        type: string
                        pattern: ^\s*(?:(?:(([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z]\d{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y]\d{1,2})|(([A-Za-z]\d[A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y]\d?[A-Za-z])))) \d[A-Za-z]{2})))|(?:(?:[Dd]6[Ww]|[AaC-Fc-fHhKkNnPpRrTtV-Yv-y]\d{2}) ?[0-9AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{4}))\s*$
                        description: Accepts UK postcodes and Irish Eircodes.
                    required:
                      - postcode
                required:
                  - organisationName
                  - contactDetails
                additionalProperties: false
              description: The brokers or dealers involved. Required with at least one entry when isPresent is true, and must not be provided otherwise. More than one may be declared.
          additionalProperties: false
        dutyOfCareConfirmed:
          type: boolean
          description: Carrier confirms they have inspected the waste, that it is as described, and that they are content to transport it.
        supportingReferences:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Supporting references
          description: label/reference pairs for the movement. Both reference and label are required for every entry.
          examples:
            - - label: PO Number
                reference: PO-123456
              - label: Job Number
                reference: CARRIER-JOB-001
          type: array
          minItems: 1
          items:
            type: object
            properties:
              reference:
                type: string
                minLength: 1
                maxLength: 50
                description: Reference value — must be supplied together with its label.
              label:
                type: string
                enum:
                  - Weighbridge Number
                  - PO Number
                  - Job Number
                  - Invoice Number
                  - Waste Ticket Number
                  - Other
                description: Label identifying the reference type.
            required:
              - reference
              - label
            additionalProperties: false
        specialHandlingRequirements:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Special handling requirements
          description: Free-text operational handling instructions for the movement — for example fragile, temperature-sensitive, or keep upright. Limited to 500 characters. Omit the field entirely when there are none.
          examples:
            - Handle with care and keep upright.
          type: string
          minLength: 1
          maxLength: 500
      required:
        - carrier
        - dutyOfCareConfirmed
      additionalProperties: false
    recordDeliveryRequest:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Record delivery request
      description: Payload for POST /beta-2/deliveries.
      type: object
      properties:
        movementIds:
          type: array
          items:
            $schema: https://json-schema.org/draft/2020-12/schema
            title: Movement ID
            description: 'Unique identifier for a waste movement, minted by the server on `POST /movements`. Format: a two-digit year prefix followed by six or seven characters from A–Z and 0–9, 8 or 9 characters in all. Movement IDs and Delivery IDs share this format. Treat it as opaque: don''t parse it.'
            type: string
            pattern: ^[0-9]{2}[A-Z0-9]{6,7}$
            examples:
              - 25HRA0B2
          minItems: 1
          description: One or more Movement IDs delivered together at this delivery.
        carrier:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Carrier
          description: A single waste carrier. organisationName, meansOfTransport and contactDetails are required, and exactly one of registrationNumber or reasonForNoRegistrationNumber must be provided. vehicleRegistration is required for Road and otherMeansOfTransport for Other; each is forbidden otherwise. address is optional.
          type: object
          oneOf:
            - required:
                - registrationNumber
              properties:
                registrationNumber: {}
                reasonForNoRegistrationNumber:
                  not: {}
                  description: Not allowed when registrationNumber is provided.
            - required:
                - reasonForNoRegistrationNumber
              properties:
                registrationNumber:
                  not: {}
                  description: Not allowed when reasonForNoRegistrationNumber is provided.
                reasonForNoRegistrationNumber: {}
          allOf:
            - if:
                properties:
                  meansOfTransport:
                    const: Road
                required:
                  - meansOfTransport
              then:
                properties:
                  vehicleRegistration: {}
                required:
                  - vehicleRegistration
              else:
                properties:
                  vehicleRegistration:
                    not: {}
                    description: Not allowed unless meansOfTransport is Road.
            - if:
                properties:
                  meansOfTransport:
                    const: Other
                required:
                  - meansOfTransport
              then:
                properties:
                  otherMeansOfTransport: {}
                required:
                  - otherMeansOfTransport
              else:
                properties:
                  otherMeansOfTransport:
                    not: {}
                    description: Not allowed unless meansOfTransport is Other.
          properties:
            organisationName:
              type: string
              minLength: 1
              description: Name of the carrier organisation.
            registrationNumber:
              description: Waste carrier registration number, in a valid UK home-nation format (England and NRW CBDU/CBDL, SEPA WCR/SCO/SEA/SNO/SWE and PCT, NI ROC UT/LT). Mutually exclusive with reasonForNoRegistrationNumber — exactly one of the two is required.
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Registration number
              type: string
              pattern: ^\s*(?:[Cc][Bb][Dd][LlUu]\d{3,}|[Ww][Cc][Rr]/[Rr]/\d{7}|(?:[Ss][Cc][Oo]|[Ss][Ee][Aa]|[Ss][Nn][Oo]|[Ss][Ww][Ee]|[Ww][Cc][Rr])/\d{6}|[Pp][Cc][Tt]-[A-Za-z]-\d{3,7}|[Rr][Oo][Cc]\W*[UuLl][Tt]\W*\d{1,5})\s*$
            reasonForNoRegistrationNumber:
              type: string
              enum:
                - ON_SITE
                - HOUSEHOLD
                - ONE_OFF
                - MARINE
              description: Why the carrier has no registration number. Mutually exclusive with registrationNumber — exactly one of the two is required.
            meansOfTransport:
              type: string
              enum:
                - Road
                - Rail
                - Air
                - Sea
                - Inland Waterway
                - Piped
                - Other
              description: How the carrier will transport the waste.
            vehicleRegistration:
              type: string
              minLength: 1
              description: Registration of the vehicle carrying the waste. Required when meansOfTransport is Road; forbidden otherwise.
            otherMeansOfTransport:
              type: string
              minLength: 1
              description: Description of the means of transport. Required when meansOfTransport is Other; forbidden otherwise.
            contactDetails:
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Contact details
              description: Contact details for a party. At least one of emailAddress or phoneNumber must be provided.
              examples:
                - emailAddress: producer@example.com
                  phoneNumber: '01234567890'
                - emailAddress: producer@example.com
              type: object
              properties:
                emailAddress:
                  type: string
                  format: email
                  description: Contact email address.
                phoneNumber:
                  type: string
                  pattern: ^\s*(?=(?:\D*\d){7,15}\D*$)\+?[0-9()\-\s]+$
                  description: Contact phone number, in a valid format.
              anyOf:
                - properties:
                    emailAddress: {}
                  required:
                    - emailAddress
                - properties:
                    phoneNumber: {}
                  required:
                    - phoneNumber
            address:
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Address
              description: A UK or Irish postal address. fullAddress is optional; postcode is required.
              examples:
                - fullAddress: 10 Industrial Way, Test City
                  postcode: TE1 2PQ
              type: object
              properties:
                fullAddress:
                  type: string
                  minLength: 1
                  description: Full address line.
                postcode:
                  type: string
                  pattern: ^\s*(?:(?:(([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z]\d{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y]\d{1,2})|(([A-Za-z]\d[A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y]\d?[A-Za-z])))) \d[A-Za-z]{2})))|(?:(?:[Dd]6[Ww]|[AaC-Fc-fHhKkNnPpRrTtV-Yv-y]\d{2}) ?[0-9AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{4}))\s*$
                  description: Accepts UK postcodes and Irish Eircodes.
              required:
                - postcode
          required:
            - organisationName
            - meansOfTransport
            - contactDetails
          additionalProperties: false
        supportingReferences:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Supporting references
          description: label/reference pairs for the movement. Both reference and label are required for every entry.
          examples:
            - - label: PO Number
                reference: PO-123456
              - label: Job Number
                reference: CARRIER-JOB-001
          type: array
          minItems: 1
          items:
            type: object
            properties:
              reference:
                type: string
                minLength: 1
                maxLength: 50
                description: Reference value — must be supplied together with its label.
              label:
                type: string
                enum:
                  - Weighbridge Number
                  - PO Number
                  - Job Number
                  - Invoice Number
                  - Waste Ticket Number
                  - Other
                description: Label identifying the reference type.
            required:
              - reference
              - label
            additionalProperties: false
      required:
        - movementIds
        - carrier
      additionalProperties: false
    recordReceiptRequest:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Record receipt request
      description: Payload for POST /beta-2/deliveries/{deliveryId}/receipt.
      type: object
      properties:
        carrier:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Carrier
          description: A single waste carrier. organisationName, meansOfTransport and contactDetails are required, and exactly one of registrationNumber or reasonForNoRegistrationNumber must be provided. vehicleRegistration is required for Road and otherMeansOfTransport for Other; each is forbidden otherwise. address is optional.
          type: object
          oneOf:
            - required:
                - registrationNumber
              properties:
                registrationNumber: {}
                reasonForNoRegistrationNumber:
                  not: {}
                  description: Not allowed when registrationNumber is provided.
            - required:
                - reasonForNoRegistrationNumber
              properties:
                registrationNumber:
                  not: {}
                  description: Not allowed when reasonForNoRegistrationNumber is provided.
                reasonForNoRegistrationNumber: {}
          allOf:
            - if:
                properties:
                  meansOfTransport:
                    const: Road
                required:
                  - meansOfTransport
              then:
                properties:
                  vehicleRegistration: {}
                required:
                  - vehicleRegistration
              else:
                properties:
                  vehicleRegistration:
                    not: {}
                    description: Not allowed unless meansOfTransport is Road.
            - if:
                properties:
                  meansOfTransport:
                    const: Other
                required:
                  - meansOfTransport
              then:
                properties:
                  otherMeansOfTransport: {}
                required:
                  - otherMeansOfTransport
              else:
                properties:
                  otherMeansOfTransport:
                    not: {}
                    description: Not allowed unless meansOfTransport is Other.
          properties:
            organisationName:
              type: string
              minLength: 1
              description: Name of the carrier organisation.
            registrationNumber:
              description: Waste carrier registration number, in a valid UK home-nation format (England and NRW CBDU/CBDL, SEPA WCR/SCO/SEA/SNO/SWE and PCT, NI ROC UT/LT). Mutually exclusive with reasonForNoRegistrationNumber — exactly one of the two is required.
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Registration number
              type: string
              pattern: ^\s*(?:[Cc][Bb][Dd][LlUu]\d{3,}|[Ww][Cc][Rr]/[Rr]/\d{7}|(?:[Ss][Cc][Oo]|[Ss][Ee][Aa]|[Ss][Nn][Oo]|[Ss][Ww][Ee]|[Ww][Cc][Rr])/\d{6}|[Pp][Cc][Tt]-[A-Za-z]-\d{3,7}|[Rr][Oo][Cc]\W*[UuLl][Tt]\W*\d{1,5})\s*$
            reasonForNoRegistrationNumber:
              type: string
              enum:
                - ON_SITE
                - HOUSEHOLD
                - ONE_OFF
                - MARINE
              description: Why the carrier has no registration number. Mutually exclusive with registrationNumber — exactly one of the two is required.
            meansOfTransport:
              type: string
              enum:
                - Road
                - Rail
                - Air
                - Sea
                - Inland Waterway
                - Piped
                - Other
              description: How the carrier will transport the waste.
            vehicleRegistration:
              type: string
              minLength: 1
              description: Registration of the vehicle carrying the waste. Required when meansOfTransport is Road; forbidden otherwise.
            otherMeansOfTransport:
              type: string
              minLength: 1
              description: Description of the means of transport. Required when meansOfTransport is Other; forbidden otherwise.
            contactDetails:
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Contact details
              description: Contact details for a party. At least one of emailAddress or phoneNumber must be provided.
              examples:
                - emailAddress: producer@example.com
                  phoneNumber: '01234567890'
                - emailAddress: producer@example.com
              type: object
              properties:
                emailAddress:
                  type: string
                  format: email
                  description: Contact email address.
                phoneNumber:
                  type: string
                  pattern: ^\s*(?=(?:\D*\d){7,15}\D*$)\+?[0-9()\-\s]+$
                  description: Contact phone number, in a valid format.
              anyOf:
                - properties:
                    emailAddress: {}
                  required:
                    - emailAddress
                - properties:
                    phoneNumber: {}
                  required:
                    - phoneNumber
            address:
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Address
              description: A UK or Irish postal address. fullAddress is optional; postcode is required.
              examples:
                - fullAddress: 10 Industrial Way, Test City
                  postcode: TE1 2PQ
              type: object
              properties:
                fullAddress:
                  type: string
                  minLength: 1
                  description: Full address line.
                postcode:
                  type: string
                  pattern: ^\s*(?:(?:(([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z]\d{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y]\d{1,2})|(([A-Za-z]\d[A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y]\d?[A-Za-z])))) \d[A-Za-z]{2})))|(?:(?:[Dd]6[Ww]|[AaC-Fc-fHhKkNnPpRrTtV-Yv-y]\d{2}) ?[0-9AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{4}))\s*$
                  description: Accepts UK postcodes and Irish Eircodes.
              required:
                - postcode
          required:
            - organisationName
            - meansOfTransport
            - contactDetails
          additionalProperties: false
        receiver:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Receiver
          description: A single intended receiver. siteName, authorisationNumber, receiptAddress and contactDetails are all required.
          type: object
          properties:
            siteName:
              type: string
              minLength: 1
              description: Name of the receiving site.
            authorisationNumber:
              description: Receiver environmental permit or exemption number, in a valid UK format.
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Authorisation number
              type: string
              pattern: ^\s*(?:(?:[A-Za-z]{2}\d{4}[A-Za-z]{2})|(?:[A-Za-z]{2}\d{4}[A-Za-z]{2}\/[Dd]\d{4,5})|(?:[Ee][Pp][Rr]\/[A-Za-z]{2}\d{4}[A-Za-z]{2})|(?:[Ee][Pp][Rr]\/[A-Za-z]{2}\d{4}[A-Za-z]{2}\/[Dd]\d{4,5})|(?:[Ee][Aa][Ww][Mm][Ll]\d{5,6})|(?:[Ww][Mm][Ll]\d{5,6})|(?:[Pp][Pp][Cc]\/[AaWwEeNn]\/\d{7})|(?:[Ww][Mm][Ll]\/[LlWwEeNn]\/\d{7})|(?:[Ww][Mm][Ll]\/[LlWwEeNn]\/\d{7}\/\d{2})|(?:[Pp][Pp][Cc]\/[Aa]\/[Ss][Ee][Pp][Aa]\d{4}-\d{4})|(?:[Ww][Mm][Ll]\/[Ll]\/[Ss][Ee][Pp][Aa]\d{4}-\d{4})|(?:[Ee][Aa][Ss]\/[Pp]\/\d{6})|(?:[Pp]\d{4}\/\d{2}[A-Za-z])|(?:[Pp]\d{4}\/\d{2}[A-Za-z]\/[Vv]\d+)|(?:[Ww][Pp][Pp][Cc] \d{2}\/\d{2})|(?:[Ww][Pp][Pp][Cc] \d{2}\/\d{2}\/[Vv]\d+)|(?:[Ww][Mm][Ll] \d{2}\/\d+(\/[Tt])? [Ll][Nn]\/\d{2}\/\d+(\/([MmTtCcNn]|[Vv]\d+))*)|(?:[Ww][Mm][Ll] \d{2}\/\d+ [Pp][Aa][Cc]\/\d{4}\/[Ww][Cc][Ll]\d{3}))\s*$
            receiptAddress:
              description: Address the waste will be received at. postcode is required; fullAddress is optional.
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Address
              examples:
                - fullAddress: 10 Industrial Way, Test City
                  postcode: TE1 2PQ
              type: object
              properties:
                fullAddress:
                  type: string
                  minLength: 1
                  description: Full address line.
                postcode:
                  type: string
                  pattern: ^\s*(?:(?:(([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z]\d{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y]\d{1,2})|(([A-Za-z]\d[A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y]\d?[A-Za-z])))) \d[A-Za-z]{2})))|(?:(?:[Dd]6[Ww]|[AaC-Fc-fHhKkNnPpRrTtV-Yv-y]\d{2}) ?[0-9AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{4}))\s*$
                  description: Accepts UK postcodes and Irish Eircodes.
              required:
                - postcode
            contactDetails:
              description: How to contact the receiving site. At least one of emailAddress or phoneNumber is required.
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Contact details
              examples:
                - emailAddress: producer@example.com
                  phoneNumber: '01234567890'
                - emailAddress: producer@example.com
              type: object
              properties:
                emailAddress:
                  type: string
                  format: email
                  description: Contact email address.
                phoneNumber:
                  type: string
                  pattern: ^\s*(?=(?:\D*\d){7,15}\D*$)\+?[0-9()\-\s]+$
                  description: Contact phone number, in a valid format.
              anyOf:
                - properties:
                    emailAddress: {}
                  required:
                    - emailAddress
                - properties:
                    phoneNumber: {}
                  required:
                    - phoneNumber
          required:
            - siteName
            - authorisationNumber
            - receiptAddress
            - contactDetails
          additionalProperties: false
        physicalDetails:
          description: The physical form, containers and total weight of the waste received.
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Physical details
          type: object
          allOf:
            - if:
                properties:
                  containerType:
                    const: LOO
                required:
                  - containerType
              then:
                properties:
                  containerCount:
                    const: 0
                    description: Must be 0 when the waste is loose (containerType LOO).
              else:
                properties:
                  containerCount:
                    type: integer
                    minimum: 1
                    description: Must be at least 1 unless the waste is loose (containerType LOO).
          properties:
            form:
              type: string
              enum:
                - GAS
                - LIQUID
                - SOLID
                - POWDER
                - SLUDGE
                - MIXED
              description: The physical form of the waste. Case-sensitive.
            containerType:
              type: string
              enum:
                - BAG
                - BAL
                - BOX
                - CAN
                - CAR
                - CAS
                - CON
                - DRU
                - FIB
                - IBC
                - LOO
                - PAL
                - ROR
                - SKI
                - TAN
                - WBI
              description: Code for how the waste is contained. LOO means the waste is loose, with no containers. Case-sensitive.
            containerCount:
              type: integer
              minimum: 0
              description: 'The number of containers: a whole number of 0 or more. Must be 0 when containerType is LOO, and at least 1 for any other container type.'
            totalWeight:
              description: The total weight of the waste item.
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Weight
              type: object
              properties:
                amount:
                  type: number
                  exclusiveMinimum: 0
                  description: The weight, in the given unit. Must be greater than 0.
                unit:
                  type: string
                  enum:
                    - GRAMS
                    - KILOGRAMS
                    - TONNES
                  description: The unit the amount is measured in. Case-sensitive.
                isEstimate:
                  type: boolean
                  description: Whether the weight is estimated (true) or actual (false).
              required:
                - amount
                - unit
                - isEstimate
              additionalProperties: false
          required:
            - form
            - containerType
            - containerCount
            - totalWeight
          additionalProperties: false
        brokerOrDealer:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Broker or dealer involvement
          description: 'Declares whether any broker or dealer was involved in the movement, and their details. isPresent gates the items array: when true at least one entry is required, when false or absent entries are forbidden.'
          examples:
            - isPresent: true
              items:
                - organisationName: Broker Demo Ltd
                  registrationNumber: CBDU654321
                  contactDetails:
                    emailAddress: broker@example.com
                    phoneNumber: '01112223333'
                  address:
                    fullAddress: 2 Broker Yard, Test City
                    postcode: TE1 1ST
            - isPresent: false
          type: object
          oneOf:
            - required:
                - isPresent
                - items
              properties:
                isPresent:
                  const: true
                items:
                  type: array
                  minItems: 1
            - properties:
                isPresent:
                  const: false
                items:
                  not: {}
                  description: Not allowed when isPresent is false or absent.
          properties:
            isPresent:
              type: boolean
              description: Whether a broker or dealer was involved in arranging the movement. Absent is equivalent to false.
            items:
              type: array
              items:
                $schema: https://json-schema.org/draft/2020-12/schema
                title: Broker or dealer
                description: A single broker or dealer who arranged the transfer. organisationName and contactDetails are required, and exactly one of registrationNumber or reasonForNoRegistrationNumber must be provided. address is optional.
                examples:
                  - organisationName: Broker Demo Ltd
                    registrationNumber: CBDU654321
                    contactDetails:
                      emailAddress: broker@example.com
                      phoneNumber: '01112223333'
                    address:
                      fullAddress: 2 Broker Yard, Test City
                      postcode: TE1 1ST
                  - organisationName: Broker Demo Ltd
                    reasonForNoRegistrationNumber: ONE_OFF
                    contactDetails:
                      emailAddress: broker@example.com
                type: object
                oneOf:
                  - required:
                      - registrationNumber
                    properties:
                      registrationNumber: {}
                      reasonForNoRegistrationNumber:
                        not: {}
                        description: Not allowed when registrationNumber is provided.
                  - required:
                      - reasonForNoRegistrationNumber
                    properties:
                      registrationNumber:
                        not: {}
                        description: Not allowed when reasonForNoRegistrationNumber is provided.
                      reasonForNoRegistrationNumber: {}
                properties:
                  organisationName:
                    type: string
                    minLength: 1
                    description: Name of the broker or dealer organisation who arranged this transfer.
                  registrationNumber:
                    description: Waste carrier, broker or dealer registration number, in a valid UK home-nation format (England and NRW CBDU/CBDL, SEPA WCR/SCO/SEA/SNO/SWE and PCT, NI ROC UT/LT). Mutually exclusive with reasonForNoRegistrationNumber — exactly one of the two is required.
                    $schema: https://json-schema.org/draft/2020-12/schema
                    title: Registration number
                    type: string
                    pattern: ^\s*(?:[Cc][Bb][Dd][LlUu]\d{3,}|[Ww][Cc][Rr]/[Rr]/\d{7}|(?:[Ss][Cc][Oo]|[Ss][Ee][Aa]|[Ss][Nn][Oo]|[Ss][Ww][Ee]|[Ww][Cc][Rr])/\d{6}|[Pp][Cc][Tt]-[A-Za-z]-\d{3,7}|[Rr][Oo][Cc]\W*[UuLl][Tt]\W*\d{1,5})\s*$
                  reasonForNoRegistrationNumber:
                    type: string
                    minLength: 1
                    description: Reason no registrationNumber is held. Free text for now — enum values TBC pending BA/policy input. Mutually exclusive with registrationNumber — exactly one of the two is required.
                  contactDetails:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    title: Contact details
                    description: Contact details for a party. At least one of emailAddress or phoneNumber must be provided.
                    examples:
                      - emailAddress: producer@example.com
                        phoneNumber: '01234567890'
                      - emailAddress: producer@example.com
                    type: object
                    properties:
                      emailAddress:
                        type: string
                        format: email
                        description: Contact email address.
                      phoneNumber:
                        type: string
                        pattern: ^\s*(?=(?:\D*\d){7,15}\D*$)\+?[0-9()\-\s]+$
                        description: Contact phone number, in a valid format.
                    anyOf:
                      - properties:
                          emailAddress: {}
                        required:
                          - emailAddress
                      - properties:
                          phoneNumber: {}
                        required:
                          - phoneNumber
                  address:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    title: Address
                    description: A UK or Irish postal address. fullAddress is optional; postcode is required.
                    examples:
                      - fullAddress: 10 Industrial Way, Test City
                        postcode: TE1 2PQ
                    type: object
                    properties:
                      fullAddress:
                        type: string
                        minLength: 1
                        description: Full address line.
                      postcode:
                        type: string
                        pattern: ^\s*(?:(?:(([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z]\d{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y]\d{1,2})|(([A-Za-z]\d[A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y]\d?[A-Za-z])))) \d[A-Za-z]{2})))|(?:(?:[Dd]6[Ww]|[AaC-Fc-fHhKkNnPpRrTtV-Yv-y]\d{2}) ?[0-9AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{4}))\s*$
                        description: Accepts UK postcodes and Irish Eircodes.
                    required:
                      - postcode
                required:
                  - organisationName
                  - contactDetails
                additionalProperties: false
              description: The brokers or dealers involved. Required with at least one entry when isPresent is true, and must not be provided otherwise. More than one may be declared.
          additionalProperties: false
        supportingReferences:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Supporting references
          description: label/reference pairs for the movement. Both reference and label are required for every entry.
          examples:
            - - label: PO Number
                reference: PO-123456
              - label: Job Number
                reference: CARRIER-JOB-001
          type: array
          minItems: 1
          items:
            type: object
            properties:
              reference:
                type: string
                minLength: 1
                maxLength: 50
                description: Reference value — must be supplied together with its label.
              label:
                type: string
                enum:
                  - Weighbridge Number
                  - PO Number
                  - Job Number
                  - Invoice Number
                  - Waste Ticket Number
                  - Other
                description: Label identifying the reference type.
            required:
              - reference
              - label
            additionalProperties: false
      required:
        - carrier
        - receiver
        - physicalDetails
      additionalProperties: false
    recordReceiptWithoutDeliveryRequest:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Record receipt without delivery request
      description: Payload for POST /beta-2/receipts.
      type: object
      properties:
        reason:
          type: string
          minLength: 1
          description: Mandatory explanation for why this receipt is being recorded without a Delivery ID.
          examples:
            - No delivery was recorded prior to receipt; waste received directly from the producer.
        carrier:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Carrier
          description: A single waste carrier. organisationName, meansOfTransport and contactDetails are required, and exactly one of registrationNumber or reasonForNoRegistrationNumber must be provided. vehicleRegistration is required for Road and otherMeansOfTransport for Other; each is forbidden otherwise. address is optional.
          type: object
          oneOf:
            - required:
                - registrationNumber
              properties:
                registrationNumber: {}
                reasonForNoRegistrationNumber:
                  not: {}
                  description: Not allowed when registrationNumber is provided.
            - required:
                - reasonForNoRegistrationNumber
              properties:
                registrationNumber:
                  not: {}
                  description: Not allowed when reasonForNoRegistrationNumber is provided.
                reasonForNoRegistrationNumber: {}
          allOf:
            - if:
                properties:
                  meansOfTransport:
                    const: Road
                required:
                  - meansOfTransport
              then:
                properties:
                  vehicleRegistration: {}
                required:
                  - vehicleRegistration
              else:
                properties:
                  vehicleRegistration:
                    not: {}
                    description: Not allowed unless meansOfTransport is Road.
            - if:
                properties:
                  meansOfTransport:
                    const: Other
                required:
                  - meansOfTransport
              then:
                properties:
                  otherMeansOfTransport: {}
                required:
                  - otherMeansOfTransport
              else:
                properties:
                  otherMeansOfTransport:
                    not: {}
                    description: Not allowed unless meansOfTransport is Other.
          properties:
            organisationName:
              type: string
              minLength: 1
              description: Name of the carrier organisation.
            registrationNumber:
              description: Waste carrier registration number, in a valid UK home-nation format (England and NRW CBDU/CBDL, SEPA WCR/SCO/SEA/SNO/SWE and PCT, NI ROC UT/LT). Mutually exclusive with reasonForNoRegistrationNumber — exactly one of the two is required.
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Registration number
              type: string
              pattern: ^\s*(?:[Cc][Bb][Dd][LlUu]\d{3,}|[Ww][Cc][Rr]/[Rr]/\d{7}|(?:[Ss][Cc][Oo]|[Ss][Ee][Aa]|[Ss][Nn][Oo]|[Ss][Ww][Ee]|[Ww][Cc][Rr])/\d{6}|[Pp][Cc][Tt]-[A-Za-z]-\d{3,7}|[Rr][Oo][Cc]\W*[UuLl][Tt]\W*\d{1,5})\s*$
            reasonForNoRegistrationNumber:
              type: string
              enum:
                - ON_SITE
                - HOUSEHOLD
                - ONE_OFF
                - MARINE
              description: Why the carrier has no registration number. Mutually exclusive with registrationNumber — exactly one of the two is required.
            meansOfTransport:
              type: string
              enum:
                - Road
                - Rail
                - Air
                - Sea
                - Inland Waterway
                - Piped
                - Other
              description: How the carrier will transport the waste.
            vehicleRegistration:
              type: string
              minLength: 1
              description: Registration of the vehicle carrying the waste. Required when meansOfTransport is Road; forbidden otherwise.
            otherMeansOfTransport:
              type: string
              minLength: 1
              description: Description of the means of transport. Required when meansOfTransport is Other; forbidden otherwise.
            contactDetails:
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Contact details
              description: Contact details for a party. At least one of emailAddress or phoneNumber must be provided.
              examples:
                - emailAddress: producer@example.com
                  phoneNumber: '01234567890'
                - emailAddress: producer@example.com
              type: object
              properties:
                emailAddress:
                  type: string
                  format: email
                  description: Contact email address.
                phoneNumber:
                  type: string
                  pattern: ^\s*(?=(?:\D*\d){7,15}\D*$)\+?[0-9()\-\s]+$
                  description: Contact phone number, in a valid format.
              anyOf:
                - properties:
                    emailAddress: {}
                  required:
                    - emailAddress
                - properties:
                    phoneNumber: {}
                  required:
                    - phoneNumber
            address:
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Address
              description: A UK or Irish postal address. fullAddress is optional; postcode is required.
              examples:
                - fullAddress: 10 Industrial Way, Test City
                  postcode: TE1 2PQ
              type: object
              properties:
                fullAddress:
                  type: string
                  minLength: 1
                  description: Full address line.
                postcode:
                  type: string
                  pattern: ^\s*(?:(?:(([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z]\d{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y]\d{1,2})|(([A-Za-z]\d[A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y]\d?[A-Za-z])))) \d[A-Za-z]{2})))|(?:(?:[Dd]6[Ww]|[AaC-Fc-fHhKkNnPpRrTtV-Yv-y]\d{2}) ?[0-9AaC-Fc-fHhKkNnPpRrTtV-Yv-y]{4}))\s*$
                  description: Accepts UK postcodes and Irish Eircodes.
              required:
                - postcode
          required:
            - organisationName
            - meansOfTransport
            - contactDetails
          additionalProperties: false
        receiver:
          $schema: https://json-schema.org/draft/2020-12/schema
          title: Receiver
          description: A single intended receiver. siteName, authorisationNumber, receiptAddress and contactDetails are all required.
          type: object
          properties:
            siteName:
              type: string
              minLength: 1
              description: Name of the receiving site.
            authorisationNumber:
              description: Receiver environmental permit or exemption number, in a valid UK format.
              $schema: https://json-schema.org/draft/2020-12/schema
              title: Authorisation number
              type: string
              pattern: ^\s*(?:(?:[A-Za-z]{2}\d{4}[A-Za-z]{2})|(?:[A-Za-z]{2}\d{4}[A-Za-z]{2}\/[Dd]\d{4,5})|(?:[Ee][Pp][Rr]\/[A-Za-z]{2}\d{4}[A-Za-z]{2})|(?:[Ee][Pp][Rr]\/[A-Za-z]{2}\d{4}[A-Za-z]{2}\/[Dd]\d{4,5})|(?:[Ee][Aa][Ww][Mm][Ll]\d{5,6})|(?:[Ww][Mm][Ll]\d{5,6})|(?:[Pp][Pp][Cc]\/[AaWwEeNn]\/\d{7})|(?:[Ww][Mm][Ll]\/[LlWwEeNn]\/\d{7})|(?:[Ww][Mm][Ll]\/[LlWwEeNn]\/\d{7}\/\d{2})|(?:[Pp][Pp][Cc]\/[Aa]\/[Ss][Ee][Pp][Aa]\d{4}-\d{4})|(?:[Ww][Mm][Ll]\/[Ll]\/[Ss][Ee][Pp][Aa]\d{4}-\d{4})|(?:[Ee][Aa][Ss]\/[Pp]\/\d{6})|(?:[Pp]\d{4}\/\d{2}[A-Za-z])|(?:[Pp]\d{4}\/\d{2}[A-Za-z]\/[Vv]\d+)|(?:[Ww][Pp][Pp][Cc] \d{2}\/\d{2})|(?:[Ww][Pp][Pp][Cc] \d{2}\/\d{2}\/[Vv]\d+)|(?:[Ww][Mm][Ll] \d{2}\/\d+(\/[Tt])? [Ll][Nn]\/\d{2}\/\d+(\/([MmTtCcNn]|[Vv]\d+))*)|(?:[Ww][Mm][Ll] \d{2}\/\d+ [Pp][Aa][Cc]\/\d{4}\/[Ww][Cc][Ll]\d{3}))\s*$
            receiptAddress:
              description: Address the waste will be received at. postcode is required; fullAddress is optional.
[...]
