openapi: 3.1.0

info:
  title: Digital Waste Tracking API
  version: target
  description: |
    **Target design — subject to change.** The intended contract for the
    whole waste movement journey at general availability: creation,
    collection, delivery, receipt and producer fate-of-waste. It extends the
    Phase 1 Receipt of Waste API and carries no version prefix (D-038).

    What is served today is described by the beta specs (`beta-1/openapi.json`,
    `beta-2/openapi.json`), synced from `waste-movement-backend` with the JSON
    Schema files they refer to. Where beta-2 already defines a shape,
    this spec refers to the same files; the rest is described here until it
    is built.

    The live Phase 1 receipt endpoints are unchanged. They are shown here as
    deprecated under the current proposal, which depends on how receipts are
    linked to Deliveries (D-022); nothing is decided about when or how they
    would be retired (D-023). Their request and response bodies are defined
    by the live [Receipt of Waste API reference](https://defra.github.io/waste-tracking-service/production/apiSpecifications/), not by this spec.

    New endpoints follow the API standards (D-039): a `{ data, validation }`
    success envelope, RFC 9457 Problem Details for errors, and an
    `x-request-id` header on every response. Every request to them carries
    the Cognito token in `Authorization` and the organisation's `apiCode` in
    an `x-api-code` header (D-053). Decision IDs (D-nnn) refer to the
    decisions register.

servers:
  - url: https://waste-tracking.api.defra.gov.uk
    description: Production (public). Target — the new endpoints are not served here yet.
  - url: https://waste-tracking.integration.api.defra.gov.uk
    description: Integration / ext-test (public). Target — the new endpoints are served under /beta-1 and /beta-2 for now.

security:
  - bearerAuth: []
    apiCode: []

tags:
  - name: Movement
    description: Create and manage a waste movement record.
  - name: Collection
    description: Record a collection event — waste passing from a producer to a driver.
  - name: Delivery
    description: Record a delivery event, generating a Delivery ID.
  - name: Receipt
    description: Record receipt of waste at a receiving site.
  - name: Fate of waste
    description: Producer-facing read-only query of a movement's status and outcome.
  - name: Reference data
    description: Lookup endpoints for codes used elsewhere in the API.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        AWS Cognito access token, obtained with the OAuth 2.0 client credentials grant (`POST {authBaseUrl}/oauth2/token` with your client ID and secret). Sent as `Authorization: Bearer <token>`.


    apiCode:
      type: apiKey
      in: header
      name: x-api-code
      description: >-
        The `apiCode` issued to your organisation, identifying who the submission is made for (D-027). Sent as a header, not in the request body (D-053). A missing or unrecognised code is rejected with `401`.


  # ----------------------------------------------------------------------
  # Reusable parameters
  # ----------------------------------------------------------------------
  parameters:
    movementIdPath:
      name: movementId
      in: path
      required: true
      description: |
        Movement ID minted by `POST /movements`. A two-digit year followed by
        a sqids code (https://sqids.org/): eight characters today, nine if
        the yearly counter needs it (D-013). Treat it as opaque.
      schema:
        $ref: '../event-model/schemas/beta-2/common/movement-id.schema.json'

    deliveryIdPath:
      name: deliveryId
      in: path
      required: true
      description: |
        Delivery ID minted by `POST /deliveries`, covering one or more
        Movement IDs delivered together at a single receiver site. Same
        format as the Movement ID: a two-digit year followed by a sqids code,
        eight characters today, nine if needed (D-013). Treat it as opaque.

        Exception: each hazardous Movement becomes its own Delivery, and its
        Delivery ID is the Movement ID itself rather than a newly minted one
        (D-010).
      schema:
        $ref: '../event-model/schemas/beta-2/common/delivery-id.schema.json'

  headers:
    RequestId:
      description: Trace id for this request. Quote it to support if something goes wrong.
      schema:
        type: string
        example: 4c6f9e1a-8f2b-4e3d-9a1c-2b7d5e6f0a3c

  # ----------------------------------------------------------------------
  # Schemas
  #
  # Organised in four layers, smallest first:
  #   1. Identifiers and primitives (Movement ID, Delivery ID, weights, dates)
  #   2. Common composites (address, contact details, success and error envelopes)
  #   3. Domain entities (waste classification, hazardous, POPs, party details)
  #   4. Request / response bodies per endpoint
  # ----------------------------------------------------------------------
  schemas:
    # --- 1. Identifiers and primitives ----------------------------------

    # Internal event identifiers (creationId, collectionId, deliveryEventId,
    # receiptId) are UUIDs minted per event and used server-side only.
    # They are NOT part of the public contract and are never returned in
    # API responses, so they are not modelled here. Public resources are
    # addressed solely by their public identifiers: movementId and
    # deliveryId (and, on the Phase 1 receipt path, wasteTrackingId) (D-012).
    # movementId and deliveryId themselves are the synced beta-2 schemas
    # under ../event-model/schemas/beta-2/common/.

    wasteTrackingId:
      type: string
      description: |
        Phase 1 identifier, minted when waste is received through
        `POST /movements/receive` and used to address
        `PUT /movements/{wasteTrackingId}/receive`. Same format as the
        Movement and Delivery IDs, and drawn from the same sequence: a
        two-digit year followed by a sqids code, eight characters today and nine if needed (D-013).
        Treat it as opaque. It is not a Movement ID (D-004).
      example: 25HRA0B2

    # --- 2. Common composites -------------------------------------------

    address:
      $ref: '../event-model/schemas/beta-2/common/address.schema.json'

    contactDetails:
      $ref: '../event-model/schemas/beta-2/common/contact-details.schema.json'

    issue:
      $ref: '../event-model/schemas/beta-2/common/issue.schema.json'

    validation:
      $ref: '../event-model/schemas/beta-2/common/validation.schema.json'

    problemDetails:
      type: object
      description: RFC 9457 Problem Details (`application/problem+json`), returned on every 4xx and 5xx (D-039).
      required: [type, title, detail, instance, requestId]
      properties:
        type:
          type: string
          format: uri
          description: Stable URI identifying the problem kind. Each type has a page under Problem types.
          example: https://defra.github.io/digital-waste-tracking-api-docs/preview/problems/bad-request
        title:
          type: string
          description: Short, stable summary for this problem type.
          example: Bad Request
        detail:
          type: string
          description: Human-readable detail specific to this occurrence.
          example: 1 validation error occurred
        instance:
          type: string
          description: The request path where the problem occurred.
          example: /movements
        requestId:
          type: string
          description: Trace id for this request, matching the `x-request-id` header.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/issue'
          description: Field-level problems. Present on 400 responses; omitted otherwise.

    # --- 3. Domain entities ---------------------------------------------
    #
    # Shapes that beta-2 already defines are referenced from the synced
    # JSON Schema files (D-052); the rest are described here until built.
    # Cross-field rules that depend on stored data (hazardous split,
    # deletion state, collection sequence) are enforced server-side and
    # stated in the descriptions.

    receiver:
      $ref: '../event-model/schemas/beta-2/common/receiver/receiver.schema.json'

    collectionSite:
      type: object
      description: |
        Collection site details. The address is where the waste was
        physically collected, typically a producer site. `contactDetails`
        is required.
      required: [address, contactDetails]
      properties:
        address:
          allOf:
            - $ref: '#/components/schemas/address'
            - type: object
              required: [fullAddress]
          description: Address where the waste was physically collected. Both fullAddress and postcode are required.
        contactDetails:
          $ref: '#/components/schemas/contactDetails'

    deliverySite:
      type: object
      description: |
        Carrier-declared drop-off place. A lighter site model than the receipt
        `receiver`: it is not necessarily an official receiver site and does not
        require a receiver authorisation number. Where the place operates under
        an exemption (e.g. a WEX number), `exemptionNumber` may be supplied —
        distinct from `receiver.authorisationNumber`. A receipt event may not
        always follow a delivery.
      required: [siteName, address]
      properties:
        siteName:
          type: string
          description: Name of the carrier-declared site/place where the waste is dropped off or left.
          example: Test Delivery Site
        exemptionNumber:
          type: string
          description: Optional exemption number for exempt places that store, treat, use or dispose of waste (e.g. a WEX number). Distinct from receiver.authorisationNumber.
          example: WEX123456
        regulatoryPositionStatements:
          type: array
          items:
            type: integer
            minimum: 1
          description: |
            An array of regulatory position statement (RPS) numbers. A regulatory position statement is issued when the Regulator (EA, SEPA, NIEA, NRW), doesn't require you to have a permit to carry out certain activities that they regulate. The statement will explain which activities you do not require a permit for. Each must be a positive integer.
            <p><font color="green"><b>Business Rule:</b></font></p>
            Must be positive integers (greater than 0).
          example:
            - 343
            - 456
            - 789
        address:
          allOf:
            - $ref: '#/components/schemas/address'
            - type: object
              required: [fullAddress]
          description: Mandatory physical address where the waste was delivered. Both fullAddress and postcode are required.

    # Waste item classification at Creation (D-042). Forked from the shared
    # Phase 1 `wasteItem` component below — does not affect Receipt or the
    # legacy endpoints, which keep using `wasteItem` unchanged.
    wasteItemClassification:
      type: object
      description: |
        What the waste actually is, as declared at Creation. Distinct
        from createWasteItem's top-level logistics fields (weight,
        numberOfContainers, typeOfContainers, physicalForm), which remain
        updatable at Receipt; classification can only be changed by rejecting
        and re-creating.
      required:
        - ewcCodes
        - wasteDescription
        - containsPops
        - containsHazardous
      properties:
        ewcCodes:
          type: array
          items:
            type: string
          maxItems: 5
          description: |
            An EWC code is a six digit code listed in the European Waste Catalogue (EWC) and the List of Wastes Regulations 2005 for the UK.
            The EWC catalog is a list of waste types which categorise waste based on a combination of what they are and the process or activity that produces them.<br><br>
            Notes:<br>
            - users must already know their correct code before using the API <br>
            - the GET ewc-codes method returns a reference for all EWC codes<br>
            - there is <b>no maximum</b> number of waste items that can be entered per movement, but there is a maximum of <b>five</b> EWC codes that can be applied to each waste item, thus allowing for multiple EWC codes on some edge cases e.g. Clinical Waste<br><br>
            To find an EWC code for a particular waste item, refer to the official <a href="https://assets.publishing.service.gov.uk/media/6152d0b78fa8f5610b9c222b/Waste_classification_technical_guidance_WM3.pdf">Waste Classification Technical Guidance WM3 </a>document.<br><br>
            POPs can also be present in hazardous and non-hazardous waste. See containsPops and pops for more information.<br>
              <p><font color="green"><b>Business Rules:</b></font></p>
              - Must be six digits (no spaces) and be in the official ewcCode EWC catalog EUR-Lex.<br>
              - From one to a maximum of five codes per movement can be provided.</p>
          example:
            - 200108
            - 150109
        wasteDescription:
          type: string
          description: A detailed description of a specific waste material including its physical characteristics, composition and any potential hazards associated with it.
          example: Basic mixed construction and demolition waste, this includes recyclable house bricks, gypsum plaster and slates.
        containsPops:
          type: boolean
          description: |
            Does the waste consignment contain POPs? This should be a boolean value, i.e. true or false.
                Persistent organic pollutants (POPs) are chemical substances that do not break down in the environment. They are a danger to human health and the environment. POPs can be present in hazardous and non-hazardous waste.
          example: true
        pops:
          description: Required when containsPops is true; must not be provided when containsPops is false.
          type: object
          required:
            - sourceOfComponents
          properties:
            sourceOfComponents:
              type: string
              enum: [NOT_PROVIDED, PROVIDED_WITH_WASTE, GUIDANCE, OWN_TESTING]
              description: |
                Indicates the source of POP component details.
                - NOT_PROVIDED: Carrier did not provide component details
                - PROVIDED_WITH_WASTE: Components provided with the waste
                - GUIDANCE: Components determined from guidance
                - OWN_TESTING: Components determined from own testing<br><br>
                 <b>Note:</b> The field is case-sensitive, please use the case specified in the list above.
                <p><font color="green"><b>Business Rules:</b></font></p>
                <ul>
                <li>Must be provided when containsPops is true</li>
                <li>If sourceOfComponents is NOT_PROVIDED, components array must be empty or not provided</li>
                <li>If sourceOfComponents is PROVIDED_WITH_WASTE, components are recommended but not required (validation warning if not provided)</li>
                <li>If sourceOfComponents is GUIDANCE or OWN_TESTING, components are required (validation error if not provided)</li>
                </ul>
              example: PROVIDED_WITH_WASTE
            components:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: |
                      The code of the POP (Persistent Organic Pollutant) component.
                      <b>Notes:</b><br>
                      - A list of POP names and codes can be obtained using the GET pop-names method.<br>
                      - The field is case-sensitive, please use the case specified for the code returned by the GET method.
                      <p><font color="green"><b>Business Rule:</b></font></p>
                      Optional field. If provided, it must be a valid POP code from the reference list returned by the GET method. The code is validated against reference data to ensure accuracy.
                    example: PFHXS
                  concentration:
                    type: number
                    exclusiveMinimum: 0
                    description: The concentration of the POP in mg per kg, e.g. 50 mg per kg of Chlordane. <p><font color="green"><b>Business Rule:</b></font></p> Optional field. If provided, must be a positive decimal number (greater than 0). Mutually exclusive with concentrationThresholdOperator — a component may state one or neither, never both.
                    example: 12.5
                  concentrationThresholdOperator:
                    type: string
                    enum: [LESS_THAN, EQUAL_TO, GREATER_THAN_OR_EQUAL]
                    description: States that concentration is above/below/at the WM3-defined threshold for this component, without an exact figure — the threshold value itself is not sent, and the service does not look it up (D-044). <p><font color="green"><b>Business Rule:</b></font></p> Optional field, mutually exclusive with concentration — a component may state one or neither, never both.
                    example: LESS_THAN
              description: |
                The list of POP components.
                <p><font color="green"><b>Business Rules:</b></font></p>
                <ul>
                <li>Must be provided when containsPops is true</li>
                <li>If sourceOfComponents is NOT_PROVIDED, components array must be empty or not provided</li>
                <li>If sourceOfComponents is PROVIDED_WITH_WASTE, an empty components array will generate a validation warning</li>
                <li>If sourceOfComponents is GUIDANCE or OWN_TESTING, components are required and cannot be empty (validation error if not provided)</li>
                </ul>
        containsHazardous:
          type: boolean
          description: Does the waste consignment contain <b>Hazardous Properties</b>, true or false?. This is a mandatory indication. This is a boolean value, i.e. true (contains hazardous properties) or false (does not contain hazardous properties).
          example: true
        hazardous:
          description: Required when containsHazardous is true; must not be provided when containsHazardous is false.
          type: object
          required:
            - sourceOfComponents
          properties:
            sourceOfComponents:
              type: string
              enum: [NOT_PROVIDED, PROVIDED_WITH_WASTE, GUIDANCE, OWN_TESTING]
              description: |
                Indicates the source of hazardous component details.
                - NOT_PROVIDED: Carrier did not provide component details
                - PROVIDED_WITH_WASTE: Components provided with the waste
                - GUIDANCE: Components determined from guidance
                - OWN_TESTING: Components determined from own testing
                <p><font color="green"><b>Business Rules:</b></font></p>
                <ul>
                <li>Must be provided when containsHazardous is true</li>
                <li>If sourceOfComponents is NOT_PROVIDED, components array must be empty or not provided</li>
                <li>If sourceOfComponents is PROVIDED_WITH_WASTE, components are recommended but not required (validation warning if not provided)</li>
                <li>If sourceOfComponents is GUIDANCE or OWN_TESTING, components are required (validation error if not provided), unless noComponents is true</li>
                </ul>
              example: PROVIDED_WITH_WASTE
            noComponents:
              type: boolean
              description: |
                Indicates hazardous properties were identified but no component was found above the WM3-defined threshold.
                <p><font color="green"><b>Business Rule:</b></font></p>
                When true, components must not be provided.
              example: false
            hazCodes:
              type: array
              description: |
                Hazardous property codes are a list of codes that identify the hazardous waste and the potential risks associated with waste materials, guiding their safe transportation and handling protocols. Common types could include codes, HP_1 - HP_15. The format of the code to be entered is HP_'number', e.g. HP_1 for Explosive, HP_2 for Oxidizing, etc.
                 <p>The official hazardous code list is found here in Appendix C:
                 <a href="https://assets.publishing.service.gov.uk/media/6152d0b78fa8f5610b9c222b/Waste_classification_technical_guidance_WM3.pdf">Waste Classification Technical Guidance WM3 document.</a></p>
                 <b>Notes:</b><br>
                <ul>
                - A list of all Hazardous Property Codes can be obtained using the GET hazardous-property-codes method.<br>
                - The field is case-sensitive, please use the case specified for the code returned by the GET method.
                </ul>
                 <p><font color="green"><b>Business Rule:</b></font></p>
                 If containsHazardous is true then hazardous.hazCodes must be a valid code.
              example:
                - HP_5
                - HP_10
              items:
                type: string
            components:
              description: Forbidden when noComponents is true. Otherwise required when sourceOfComponents is GUIDANCE or OWN_TESTING; forbidden when NOT_PROVIDED.
              type: array
              items:
                type: object
                required:
                  - name
                properties:
                  name:
                    type: string
                    description: Name of the hazardous component, e.g. Mercury. <p><font color="green"><b>Business Rule:</b></font></p> Mandatory field. Must be a valid chemical or biological component name.
                    example: lead
                  concentration:
                    type: number
                    exclusiveMinimum: 0
                    description: The concentration of the hazardous component in milligrams per kilo, e.g. 30mg per kg. <p><font color="green"><b>Business Rule:</b></font></p> Exactly one of concentration or concentrationThresholdOperator is required. If provided, must be a positive numeric value (greater than 0). Mutually exclusive with concentrationThresholdOperator — a component must state exactly one, never both or neither.
                    example: 25.5
                  concentrationThresholdOperator:
                    type: string
                    enum: [EQUAL_TO, GREATER_THAN_OR_EQUAL]
                    description: States that concentration is above/at the WM3-defined threshold for this component, without an exact figure — the threshold value itself is not sent, and the service does not look it up (D-044). <p><font color="green"><b>Business Rule:</b></font></p> Exactly one of concentration or concentrationThresholdOperator is required. Mutually exclusive with concentration.
                    example: GREATER_THAN_OR_EQUAL

    # Shared waste item base (D-042) — classification plus logistics fields.
    # Used by createWasteItem (Creation) and receiptWithoutDeliveryWasteItem
    # (POST /receipts), each adding its own treatment array on top. Does NOT
    # extend the shared Phase 1 `wasteItem` component below — the ordinary
    # Receipt endpoint's wasteItem (receiptWasteItem) drops classification
    # entirely and does not use wasteItemBase either.
    wasteItemBase:
      type: object
      description: |
        Shared waste item base — classification plus logistics
        fields. Used by Creation (createWasteItem) and POST /receipts
        (receiptWithoutDeliveryWasteItem), each adding its own treatment
        array on top.
      required:
        - weight
        - numberOfContainers
        - typeOfContainers
        - physicalForm
        - classification
      properties:
        weight:
          $ref: '#/components/schemas/weight'
        numberOfContainers:
          type: integer
          minimum: 0
          description: Number of containers for storing, transporting and disposing of waste materials. <p><font color="green"><b>Business Rule:</b></font></p> This must be a non-negative integer (0 or greater).
          example: 2
        typeOfContainers:
          type: string
          description: |
            Containers are receptacles used for storing, transporting and disposing of waste materials. They come in various sizes and types, ranging from small desk-side bins to large industrial skips. Enter the container code, e.g. DRU for Drum.<br><br>
            <b>Notes:</b><br>
            - A list of all container types can be obtained using the GET container-types method.<br>
            - The field is case-sensitive, please use the case specified for the code returned by the GET method.
            <br>
            <p><font color="green"><b>Business Rule:</b></font></p>
            Must be in typeOfContainers list.
          example: SKI
        physicalForm:
          type: string
          enum: [Gas, Liquid, Solid, Powder, Sludge, Mixed]
          description: This is the form of the waste. This could be a Gas, Liquid, Solid, Powder, Sludge or Mixed. <p><font color="green"><b>Business Rule:</b></font></p> Must be “Gas”, “Liquid”, “Solid”, Powder”, “Sludge” or “Mixed”. <b>Note:</b> The field is case-sensitive, please use the case specified in the description.
          example: Sludge
        classification:
          $ref: '#/components/schemas/wasteItemClassification'

    createWasteItem:
      description: Waste item declared as part of the created movement.
      allOf:
        - $ref: '#/components/schemas/wasteItemBase'
        - type: object
          required:
            - intendedTreatments
          properties:
            intendedTreatments:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/intendedTreatment'
              description: |
                **Intended Treatment.** The treatment (recovery or disposal)
                planned for this waste item at the point of creation. Mandatory —
                at least one entry must be provided, each with
                disposalOrRecoveryCode and weight. This is a planning figure
                only; the authoritative outcome is confirmed at Receipt as Actual
                Treatment.

    # --- 4. Request and response bodies per endpoint --------------------

    # POST /movements. Creation declares intended carriers (D-045) and
    # intended receivers (D-043); `brokerOrDealer` is optional
    # (D-008). The submitting organisation is identified by the `x-api-code`
    # header (D-027, D-053), not by the body.

    createMovementRequest:
      type: object
      description: Request body for POST /movements.
      required:
        - plannedCollectionTime
        - producer
        - intendedCarriers
        - intendedReceivers
        - wasteItems
      properties:
        plannedCollectionTime:
          type: string
          format: date-time
          description: |
            Planned date and time the waste will be collected. Renamed from
            estimatedDateTimeCollected. The actual collection time is
            recorded by the collection event and may differ. ISO 8601 (UTC or BST).
          example: 2025-09-15T08:00:00Z
        hazardousWasteConsignmentCode:
          type: string
          description: |
            Required when any waste item carries a hazardous EWC code. Must match
            an accepted region-specific consignment code format (England & Wales,
            Scotland, NI). Mutually exclusive with reasonForNoConsignmentCode.
          example: CJ123E/A0001
        reasonForNoConsignmentCode:
          type: string
          minLength: 1
          description: |
            Required when the movement contains hazardous waste and no
            hazardousWasteConsignmentCode is provided. Mutually exclusive with
            hazardousWasteConsignmentCode. Free text, with no fixed list for the MVP.
        yourUniqueReference:
          type: string
          description: Caller's own reference. No format rules enforced.
          example: CARRIER-JOB-001
        supportingReferences:
          $ref: '../event-model/schemas/beta-2/common/supporting-references.schema.json'
        specialHandlingRequirements:
          $ref: '../event-model/schemas/beta-2/common/special-handling-requirements.schema.json'
        producer:
          $ref: '../event-model/schemas/beta-2/common/producer/producer.schema.json'
        intendedCarriers:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/carrier'
          description: Prospective carrier(s) declared at creation (D-045). Always required, at least one — a producer may declare more than one prospective carrier. Each entry follows the same rules as the carrier at later events.
        brokerOrDealer:
          $ref: '../event-model/schemas/beta-2/common/broker-or-dealer/broker-or-dealer.schema.json'
        intendedReceivers:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/receiver'
          description: Intended receiving site(s) (D-043). Always required, with at least one entry — a producer may declare waste heading to more than one receiving site. Each entry needs siteName, authorisationNumber, receiptAddress and contactDetails.
        collectionAddressDifferentFromProducer:
          type: boolean
          default: false
          description: |
            Whether the waste will be collected from an address other than
            producer.address. Defaults to false — false or absent means
            collection is planned at the producer address. When true,
            collectionSite is required.
          example: false
        collectionSite:
          allOf:
            - $ref: '#/components/schemas/address'
            - type: object
              required: [fullAddress]
          description: |
            Address where the waste is planned to be collected. Required when
            collectionAddressDifferentFromProducer is true; must not be
            provided otherwise. Reuses the same address shape as the
            Collection event's own collectionSite.address (both fullAddress
            and postcode required), distinct from that event, which records
            the actual collection.
        wasteItems:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/createWasteItem'
          description: |
            At least one waste item. Uses Creation's own waste item shape
            — classification is nested; weight, numberOfContainers,
            typeOfContainers and physicalForm stay top-level. At creation,
            weights are typically estimates (weight.isEstimate true); actual
            weights are recorded at receipt (D-032). The ordinary Receipt
            endpoint's waste item (receiptWasteItem) carries no
            classification, since the Creation record already has it (D-042).
        isDeleted:
          type: boolean
          default: false
          description: |
            Soft-delete flag. Defaults to `false`. Must not be supplied
            as `true` on create — only `PUT /movements/{movementId}` may set it
            to `true`, and only while no Collection has been recorded against
            this Movement; once a Collection exists the Movement can no longer
            be deleted. Supplying `true` here is rejected as a `NotAllowed`
            validation error.

    createMovementResponse:
      $ref: '../event-model/schemas/beta-2/creation/create-movement-response.schema.json'

    updateResponse:
      type: object
      description: Returned on a successful update (`200`). `data` is always null; the identifier is already in the path (D-039).
      required: [data, validation]
      properties:
        data:
          type: 'null'
        validation:
          $ref: '#/components/schemas/validation'

    # Collection event — POST /movements/{movementId}/collection.
    #
    # Appends one event to the Movement's ordered collection sequence: a
    # STATIC producer-to-driver pickup, followed by zero or more TRANSIT
    # driver-to-driver handovers (D-029). Collection carries no waste details
    # (D-032). How individual events are stored, edited and soft-deleted is
    # still open (D-035).

    collectionRequest:
      type: object
      description: Request body for POST /movements/{movementId}/collection.
      required:
        - actualDateTimeCollected
        - carrier
        - dutyOfCareConfirmed
        - collectionSite
      properties:
        actualDateTimeCollected:
          type: string
          format: date-time
          description: |
            Actual date and time the waste was collected — not when the record
            was submitted. For deferred or retrospective recording, back-fill the
            real collection time. ISO 8601.
          example: 2025-09-15T08:34:00Z
        collectionType:
          type: string
          enum: [STATIC, TRANSIT]
          default: STATIC
          description: |
            Whether this event is a `STATIC` producer-to-driver pickup or a
            `TRANSIT` driver-to-driver handover. Optional; defaults to
            `STATIC` when omitted.
            <p><font color="green"><b>Business Rules:</b></font></p>
            <ul>
            <li>A Movement's collection events form one ordered sequence. The first active (non-deleted) event must be `STATIC`; every later active event must be `TRANSIT`.</li>
            <li>`POST` appends the next event to the sequence. The sequence is closed once this Movement is named in a Delivery's `movementIds` — a `POST` after that is rejected as a `BusinessRuleViolation`.</li>
            <li>A single Movement is never split or forked across carriers: two loads moving between the same pair of drivers are two Movements, each with its own STATIC→TRANSIT* sequence. There is no cap on the number of TRANSIT events.</li>
            </ul>
          example: STATIC
        yourUniqueReference:
          type: string
          description: Caller's own reference for this collection event (e.g. a weighbridge ticket number).
          example: DRIVER-TRIP-001
        supportingReferences:
          $ref: '../event-model/schemas/beta-2/common/supporting-references.schema.json'
        specialHandlingRequirements:
          $ref: '../event-model/schemas/beta-2/common/special-handling-requirements.schema.json'
        carrier:
          allOf:
            - $ref: '#/components/schemas/carrier'
          description: |
            Carrier details confirmed at collection. Required even if unchanged
            from creation. By collection the carrier is physically present, so
            the full carrier rules apply (registrationNumber or reason;
            vehicleRegistration for Road).
        dutyOfCareConfirmed:
          type: boolean
          description: |
            Carrier confirms they have inspected the waste, that it is as
            described, and that they are content to transport it.
        receivedFromCarrier:
          allOf:
            - $ref: '#/components/schemas/carrier'
          description: |
            The carrier this Movement was received *from* on a `TRANSIT`
            (driver-to-driver) handover. Same shape as `carrier`.
            <p><font color="green"><b>Business Rules:</b></font></p>
            <ul>
            <li>Required when `collectionType` is `TRANSIT`.</li>
            <li>Must not be provided when `collectionType` is `STATIC` (mirrors the `registrationNumber`/`reasonForNoRegistrationNumber` mutual-exclusivity pattern).</li>
            <li>Captured for the record only — it is not cross-checked against the preceding event's `carrier`; any discrepancy is left for regulators to detect.</li>
            </ul>
        brokerOrDealer:
          $ref: '../event-model/schemas/beta-2/common/broker-or-dealer/broker-or-dealer.schema.json'
        collectionSite:
          $ref: '#/components/schemas/collectionSite'
        isDeleted:
          type: boolean
          default: false
          description: |
            Soft-delete flag (D-009). Defaults to `false`. Must not be supplied
            as `true` on create — only `PUT /movements/{movementId}/collection`
            may set it to `true`, and only while this Movement has not yet been
            referenced in a Delivery. Supplying `true` here is rejected as a
            `NotAllowed` validation error. Which events in a collection
            sequence can be soft-deleted is still open (D-035).

    recordCollectionResponse:
      $ref: '../event-model/schemas/beta-2/collection/create-collection-response.schema.json'

    # Delivery event — POST /deliveries.
    #
    # A single delivery can cover one or more Movements delivered together
    # (multi-collection case). The Delivery ID minted here is the aggregation
    # point — one Delivery ID, many Movement IDs possible. The drop-off place is
    # a lighter, carrier-declared site model (`deliverySite`); a receipt may not
    # always follow. No GET in v1; updates use PUT against the Delivery ID.

    deliveryRequest:
      type: object
      description: Request body for POST /deliveries.
      required:
        - movementIds
        - actualDateTimeDelivered
        - carrier
        - deliverySite
      properties:
        movementIds:
          type: array
          minItems: 1
          items:
            $ref: '../event-model/schemas/beta-2/common/movement-id.schema.json'
          description: |
            One or more Movement IDs delivered together at the same drop-off
            place. A single-collection run supplies an array of one; a
            multi-collection run supplies every Movement delivered together.
            May mix hazardous and non-hazardous Movement IDs — the
            server splits them into separate delivery entries in the response.
            This depends on properties of the linked Movements not carried in
            the body, so it is performed server-side (see the endpoint description).
        actualDateTimeDelivered:
          type: string
          format: date-time
          description: Actual date and time the delivery occurred — not the submission time. ISO 8601.
          example: 2025-09-15T11:15:00Z
        yourUniqueReference:
          type: string
          description: Caller's own reference for this delivery event (e.g. a route sheet number).
          example: DRIVER-RUN-AM-001
        supportingReferences:
          $ref: '../event-model/schemas/beta-2/common/supporting-references.schema.json'
        carrier:
          allOf:
            - $ref: '#/components/schemas/carrier'
          description: Carrier performing the delivery. Required.
        deliverySite:
          $ref: '#/components/schemas/deliverySite'
        isDeleted:
          type: boolean
          default: false
          description: |
            Soft-delete flag. Defaults to `false`. Must not be supplied
            as `true` on create — only `PUT /deliveries/{deliveryId}` may set it
            to `true`, and only while no Receipt has been recorded against this
            Delivery; once a Receipt exists the Delivery can no longer be
            deleted. Supplying `true` here is rejected as a `NotAllowed`
            validation error.

    # PUT /deliveries/{deliveryId} — restricted update body (D-017).
    #
    # A recorded delivery is immutable under policy; the only property that may
    # change is the soft-delete flag isDeleted (D-009). The delivery PUT
    # therefore accepts ONLY isDeleted (the caller is identified by the
    # x-api-code header, D-053). Every
    # other deliveryRequest field is rejected with a NotAllowed validation error
    # (additionalProperties: false). To correct a recorded delivery, soft-delete
    # it (isDeleted: true) and record a fresh delivery via POST /deliveries.
    deliveryUpdateRequest:
      type: object
      description: Request body for PUT /deliveries/{deliveryId} — restricted to the soft-delete flag.
      additionalProperties: false
      required:
        - isDeleted
      properties:
        isDeleted:
          type: boolean
          description: |
            Soft-delete flag for the delivery — the ONLY property that
            may be changed on a recorded delivery. Setting true marks the
            Delivery deleted; false restores it. Cannot be set true once a
            Receipt has been recorded against the Delivery (BusinessRuleViolation).
          example: true

    deliveryResponse:
      $ref: '../event-model/schemas/beta-2/delivery/record-delivery-response.schema.json'

    # ------------------------------------------------------------------
    # Receipt without a prior delivery (D-041).
    # ------------------------------------------------------------------
    # Waste item for POST /receipts (D-041/D-042) — extends the shared
    # wasteItemBase (classification + logistics fields), unlike the ordinary
    # Receipt endpoint's receiptWasteItem, since there is no prior Creation
    # record to source classification from.
    receiptWithoutDeliveryWasteItem:
      description: Waste item received as part of a no-prior-delivery receipt — full classification carried, unlike the ordinary Receipt endpoint.
      allOf:
        - $ref: '#/components/schemas/wasteItemBase'
        - type: object
          properties:
            actualTreatments:
              type: array
              items:
                $ref: '#/components/schemas/actualTreatment'
              description: |
                **Actual Treatment.** Optional. Each
                entry's disposalOrRecoveryCode is itself optional — a
                receiving site may need to inspect or weigh before
                confirming the code. Omitting it produces a warning, not a
                rejection; weight is required only when the code is
                supplied.

    # Request body for POST /receipts (D-041, D-042): the ordinary receipt
    # fields, waste items with full classification, and reasonForNoDeliveryId.
    receiptWithoutDeliveryRequest:
      type: object
      description: Request body for POST /receipts.
      required:
        - dateTimeReceived
        - carrier
        - wasteItems
        - receiver
        - reasonForNoDeliveryId
      properties:
        dateTimeReceived:
          type: string
          format: date-time
          description: |
            This is the date and exact time waste was received at the site. This API uses the UTC ISO 8601 and BST standards for machine-readable dates and times. <p>Key Differences:</p>
            UTC is the global time standard and does not observe daylight saving time.
            BST is UTC+1, used in the UK during daylight saving time (typically from late March to late October).
          example: UTC - 2025-09-15T12:12:28Z, BST - 2025-09-15T13:12:28+01:00
        hazardousWasteConsignmentCode:
          type: string
          description: Hazardous waste consignment code. If the EWC is HAZ, then this field is mandatory. Must not be provided alongside reasonForNoConsignmentCode.
          example: CJ32LE/A0001
        reasonForNoConsignmentCode:
          type: string
          minLength: 1
          description: Required if waste is hazardous and no hazardousWasteConsignmentCode is provided. Must not be provided alongside hazardousWasteConsignmentCode. Free text, with no fixed list for the MVP.
          example: No documentation provided with the waste
        yourUniqueReference:
          type: string
          description: This could be a unique weighbridge ticket number, waste transfer note number etc.
          example: wTBrdgAA020
        supportingReferences:
          $ref: '../event-model/schemas/beta-2/common/supporting-references.schema.json'
        wasteItems:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/receiptWithoutDeliveryWasteItem'
          description: |
            At least one waste item. Carries full classification —
            this endpoint has no prior Creation record to source it from.
        carrier:
          $ref: '#/components/schemas/carrier'
        brokerOrDealer:
          $ref: '../event-model/schemas/beta-2/common/broker-or-dealer/broker-or-dealer.schema.json'
        receiver:
          $ref: '#/components/schemas/receiver'
        reasonForNoDeliveryId:
          type: string
          description: |
            Mandatory explanation of why there is no prior
            Movement/Collection/Delivery trail for this receipt (D-041).
            Free text for now. Beta-1 and beta-2 currently name this field
            `reason`; it is to be renamed.
          example: Waste received directly with no digital record of an earlier journey.

    receiptWithoutDeliveryResponse:
      $ref: '../event-model/schemas/beta-2/receipt/record-receipt-without-delivery-response.schema.json'

    recordReceiptResponse:
      $ref: '../event-model/schemas/beta-2/receipt/record-receipt-response.schema.json'

    # ------------------------------------------------------------------
    # Parties, treatments and weights shared by the new endpoints.
    # ------------------------------------------------------------------
    carrier:
      $ref: '../event-model/schemas/beta-2/common/carrier/carrier.schema.json'

    # Intended Treatment (D-031) — createWasteItem.intendedTreatments at
    # Creation. Both the code and the weight are required.
    intendedTreatment:
      type: object
      description: Disposal or recovery treatment planned at creation.
      required:
        - disposalOrRecoveryCode
        - weight
      properties:
        disposalOrRecoveryCode:
          type: string
          description: |
            Disposal and Recovery Codes play a crucial role in categorising the methods by which waste is managed, whether through recovery or disposal processes. These codes (Recovery (R) and Disposal (D)) serve as a standardised system to ensure proper handling and treatment of waste materials. Specifically, they aid in classifying whether waste is to be recovered for further use or disposed of in a safe and environmentally responsible manner.

              <p><b>Notes:</b>
              <ul>
              - The field is case-sensitive, please use the case specified for the code returned by the GET method.<br>
              - A complete list of Disposal and Recovery Codes can be obtained using the GET Disposal and Recovery Codes method.<br>
             </ul>
             <p><font color="green"><b>Business Rule:</b></font></p>
             If intendedTreatment.disposalOrRecoveryCode entered, then it should be in the intendedTreatment.disposalOrRecoveryCode listed in EUR-Lex.
          example: |
            "R1"
        weight:
          $ref: '#/components/schemas/weight'

    # Actual Treatment (D-031) — actualTreatments on both receipt endpoints.
    # The code is optional (a missing code is a warning); the weight is
    # required when a code is given.
    actualTreatment:
      type: object
      description: Disposal or recovery treatment confirmed at receipt.
      properties:
        disposalOrRecoveryCode:
          type: string
          description: |
            Disposal and Recovery Codes play a crucial role in categorising the methods by which waste is managed, whether through recovery or disposal processes. These codes (Recovery (R) and Disposal (D)) serve as a standardised system to ensure proper handling and treatment of waste materials. Specifically, they aid in classifying whether waste is to be recovered for further use or disposed of in a safe and environmentally responsible manner.

              <p><b>Notes:</b>
              <ul>
              - The field is case-sensitive, please use the case specified for the code returned by the GET method.<br>
              - A complete list of Disposal and Recovery Codes can be obtained using the GET Disposal and Recovery Codes method.<br>
             </ul>
             <p><font color="green"><b>Business Rule:</b></font></p>
             Optional — a receiving site may need to inspect or weigh before confirming the code. Omitting it produces a warning, not a rejection. If entered, it should be in the disposalOrRecoveryCode listed in EUR-Lex.
          example: |
            "R1"
        weight:
          allOf:
            - $ref: '#/components/schemas/weight'
          description: Required when disposalOrRecoveryCode is supplied.
    weight:
      type: object
      description: Weight of a waste item, or of the amount treated under a specific disposal/recovery code.
      required:
        - metric
        - amount
        - isEstimate
      properties:
        metric:
          type: string
          enum: [Grams, Kilograms, Tonnes]
          description: Unit of measurement in which the waste is being accepted. <p><font color="green"><b>Business Rule:</b></font></p> Must be “Grams”, “Kilograms” or “Tonnes”
          example: Tonnes
        amount:
          type: number
          exclusiveMinimum: 0
          description: Total weight of the waste in a unit specified - Grams - Kilograms - Tonnes <p><font color="green">Business Rule:</font></p> Must be a positive number (greater than 0). <b>Note-</b><p> Weight in terms of the Waste Item is the total weight of the waste being received.</p> <p> Weight in terms of the Treatment is the total weight of the waste being disposed of or recovered for final treatment.</p>
          example: 150
        isEstimate:
          type: boolean
          description: Specifies whether the weight of waste is estimated. This a boolean value, i.e. true for estimated or false for not estimated.
          example: true
    # Phase 1 only. The new endpoints use `issue` (JSON Pointer) instead.
    validationResult:
      type: object
      description: One validation warning or error entry, as returned by the Phase 1 receipt endpoints.
      properties:
        key:
          type: string
          description: Field path the warning/error relates to.
          example: wasteItems[0].actualTreatments
        errorType:
          type: string
          description: |
            can be one of the following type:
            - NotProvided: A required field was not provided
            - NotAllowed: The value provided is not allowed
            - InvalidType: The value provided is of the wrong type
            - InvalidFormat: The value provided is not in the correct format
            - InvalidValue: The value provided is not valid based on the business rules
            - OutOfRange: The value provided is outside the allowed range
            - BusinessRuleViolation: The value provided violates a specific business rule.
          example: NotProvided
        message:
          type: string
          example: Success/Failure
          description: Waste description is/is not successfully stored.
    # Waste item for the ordinary Receipt endpoint (D-042) — logistics
    # fields plus actualTreatments only. Classification is dropped entirely;
    # a prior Creation record already has it. Does not extend wasteItemBase
    # (that's for Creation and POST /receipts, which have no prior Creation
    # record to source classification from).
    receiptWasteItem:
      type: object
      description: Waste item on the ordinary receipt — logistics and actual treatments only; the classification was declared at creation (D-042).
      required:
        - weight
        - numberOfContainers
        - typeOfContainers
        - physicalForm
      properties:
        weight:
          $ref: '#/components/schemas/weight'
        numberOfContainers:
          type: integer
          minimum: 0
          description: Number of containers for storing, transporting and disposing of waste materials. <p><font color="green"><b>Business Rule:</b></font></p> This must be a non-negative integer (0 or greater).
          example: 2
        typeOfContainers:
          type: string
          description: |
            Containers are receptacles used for storing, transporting and disposing of waste materials. They come in various sizes and types, ranging from small desk-side bins to large industrial skips. Enter the container code, e.g. DRU for Drum.<br><br>
            <b>Notes:</b><br>
            - A list of all container types can be obtained using the GET container-types method.<br>
            - The field is case-sensitive, please use the case specified for the code returned by the GET method.
            <br>
            <p><font color="green"><b>Business Rule:</b></font></p>
            Must be in typeOfContainers list.
          example: SKI
        physicalForm:
          type: string
          enum: [Gas, Liquid, Solid, Powder, Sludge, Mixed]
          description: This is the form of the waste. This could be a Gas, Liquid, Solid, Powder, Sludge or Mixed. <p><font color="green"><b>Business Rule:</b></font></p> Must be “Gas”, “Liquid”, “Solid”, Powder”, “Sludge” or “Mixed”. <b>Note:</b> The field is case-sensitive, please use the case specified in the description.
          example: Sludge
        actualTreatments:
          type: array
          items:
            $ref: '#/components/schemas/actualTreatment'
          description: |
            **Actual Treatment.** The confirmed treatment (recovery or
            disposal) applied to this waste item, as determined by the
            receiver. Optional. Each entry's
            disposalOrRecoveryCode is itself optional — a receiving site may
            need to inspect or weigh before confirming the code. Omitting it
            produces a warning, not a rejection; weight is required only
            when the code is supplied.

    # Request body for POST and PUT /deliveries/{deliveryId}/receipt — the
    # ordinary receipt (D-022, D-042). Separate from the Phase 1 body, which
    # is defined by the live Receipt of Waste API (see legacyReceiptRequest).
    legacyReceiptRequest:
      type: object
      description: |
        Request body of the live Phase 1 receipt endpoints,
        `POST /movements/receive` and `PUT /movements/{wasteTrackingId}/receive`.
        Unchanged, and deliberately not repeated here: its definition is the
        live Receipt of Waste API reference, generated from the service's own
        validation. Copying it into this spec would only drift.
      externalDocs:
        description: Receipt of Waste API reference (live)
        url: https://defra.github.io/waste-tracking-service/production/apiSpecifications/

    recordReceiptRequest:
      type: object
      description: Request body for POST and PUT /deliveries/{deliveryId}/receipt.
      required:
        - dateTimeReceived
        - carrier
        - wasteItems
        - receiver
      properties:
        dateTimeReceived:
          type: string
          format: date-time
          description: |
            This is the date and exact time waste was received at the site. This API uses the UTC ISO 8601 and BST standards for machine-readable dates and times. <p>Key Differences:</p>
            UTC is the global time standard and does not observe daylight saving time.
            BST is UTC+1, used in the UK during daylight saving time (typically from late March to late October).
          example: UTC - 2025-09-15T12:12:28Z, BST - 2025-09-15T13:12:28+01:00
        hazardousWasteConsignmentCode:
          type: string
          description: Hazardous waste consignment code. If the EWC is HAZ, then this field is mandatory. <p><font color="red">England & Wales:</font></p> <p><i>Format-</i>  XXXXXX/YYYYY</p> Where XXXXXX can be a mixture of letters and/or numbers, i.e. alphanumeric. <p>The consignment note code must follow the format- XXXXXX/YYYYY.</p> <p>The first XXXXXX part is made up of six alphanumeric characters and must be followed by a forward slash /<p> The YYYYY part is a five alphanumeric character unique identifier of the users' choice (no spaces or symbols).</p> <p><font color="red">Scotland</font></p> <p><i>Format-</i>  SA, SB or SC followed by a 7-digit number (e.g. SB1234567). Also known as Special Waste Consignment Note</p> <p><font color="red">Northern Ireland and Eire:</font></p> <p><i>Format-</i>  DA, DB or DC followed by a 7-digit number (e.g. DA5301234)</p><p></p> <p><a href="https://www.gov.uk/guidance/hazardous-waste-consignment-note-supplementary-guidance#a1-consignment-note-code">More information here</a></p> <p><font color="green"><b>Business Rule:</b></font></p> <ul> <li>If recordReceiptRequest.hazardousWasteConsignmentCode is provided it must be in specified format.</li> <li>If any waste.ewcCodes provided are considered “not hazardous” recordReceiptRequest.hazardousWasteConsignmentCode is not required.</li> </ul>
          example: CJ32LE/A0001
        reasonForNoConsignmentCode:
          type: string
          minLength: 1
          description: Required if any waste item is hazardous and no hazardousWasteConsignmentCode is provided. Must not be provided alongside hazardousWasteConsignmentCode. Free text, with no fixed list for the MVP.
          example: No documentation provided with the waste
        yourUniqueReference:
          type: string
          description: This could be a unique weighbridge ticket number, waste transfer note number etc.
          example: wTBrdgAA020
        supportingReferences:
          $ref: '../event-model/schemas/beta-2/common/supporting-references.schema.json'
        wasteItems:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/receiptWasteItem'
          description: |
            At least one waste item. Uses the ordinary Receipt endpoint's
            light waste item shape — no classification; a prior
            Creation record already has it.
        carrier:
          $ref: '#/components/schemas/carrier'
        brokerOrDealer:
          $ref: '../event-model/schemas/beta-2/common/broker-or-dealer/broker-or-dealer.schema.json'
        receiver:
          $ref: '#/components/schemas/receiver'
        isDeleted:
          type: boolean
          default: false
          description: |
            Soft-delete flag (D-009). Defaults to `false`. Must not be supplied
            as `true` on create — only `PUT /deliveries/{deliveryId}/receipt` may
            set it to `true`. A further `PUT` with `false` restores the receipt.
            Supplying `true` on create is rejected as a `NotAllowed` validation
            error.

  # ----------------------------------------------------------------------
  # Reusable responses
  # ----------------------------------------------------------------------
  responses:
    '400':
      description: The request could not be stored (validation, format or state error).
      headers:
        x-request-id:
          $ref: '#/components/headers/RequestId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problemDetails'

    '401':
      description: Missing or invalid authentication — the bearer token or the `x-api-code` header.
      headers:
        x-request-id:
          $ref: '#/components/headers/RequestId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problemDetails'

    '402':
      description: The submitting organisation's service charge has lapsed.
      headers:
        x-request-id:
          $ref: '#/components/headers/RequestId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problemDetails'

    '404':
      description: The resource in the path does not exist.
      headers:
        x-request-id:
          $ref: '#/components/headers/RequestId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problemDetails'
          example:
            type: https://defra.github.io/digital-waste-tracking-api-docs/preview/problems/not-found
            title: Not Found
            detail: No movement exists with this Movement ID.
            instance: /movements/25HRA0B2
            requestId: 4c6f9e1a-8f2b-4e3d-9a1c-2b7d5e6f0a3c

    '500':
      description: Unexpected server error.
      headers:
        x-request-id:
          $ref: '#/components/headers/RequestId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problemDetails'

    collectionNotFound:
      description: |
        The Movement does not exist (`movement-not-found`), or — on `PUT` —
        it exists but no collection has been recorded yet
        (`collection-not-recorded`; record it with `POST` first). The problem
        `type` tells the two apart (D-014).
      headers:
        x-request-id:
          $ref: '#/components/headers/RequestId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problemDetails'
          example:
            type: https://defra.github.io/digital-waste-tracking-api-docs/preview/problems/collection-not-recorded
            title: Collection Not Recorded
            detail: No collection has been recorded for this movement yet.
            instance: /movements/25HRA0B2/collection
            requestId: 4c6f9e1a-8f2b-4e3d-9a1c-2b7d5e6f0a3c

    receiptNotFound:
      description: |
        The Delivery does not exist (`delivery-not-found`), or — on `PUT` —
        it exists but no receipt has been recorded yet
        (`receipt-not-recorded`; record it with `POST` first). The problem
        `type` tells the two apart (D-014).
      headers:
        x-request-id:
          $ref: '#/components/headers/RequestId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problemDetails'
          example:
            type: https://defra.github.io/digital-waste-tracking-api-docs/preview/problems/delivery-not-found
            title: Delivery Not Found
            detail: 'No delivery exists with delivery ID: 25KMT4Z9'
            instance: /deliveries/25KMT4Z9/receipt
            requestId: 4c6f9e1a-8f2b-4e3d-9a1c-2b7d5e6f0a3c

    legacy400:
      description: Input was not in the correct format (Phase 1 error shape).
      content:
        application/json:
          schema:
            type: object
            properties:
              validation:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/validationResult'

# ======================================================================
# Paths
# ======================================================================
paths:
  /movements:
    post:
      tags: [Movement]
      summary: Create a waste movement
      description: |
        Creates a waste movement and returns its Movement ID. Store the
        Movement ID: it is the handle for the whole journey — collection,
        delivery and fate-of-waste (D-012).

        `intendedCarriers` (D-045) and `intendedReceivers` (D-043) are always
        required; `brokerOrDealer` is optional (D-008). `isDeleted` must not be sent as `true` here — it can
        only be set with `PUT /movements/{movementId}` (D-009).
      operationId: createMovement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createMovementRequest'
      responses:
        '201':
          description: Movement created. `data.movementId` holds the new Movement ID.
          headers:
            x-request-id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createMovementResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '500':
          $ref: '#/components/responses/500'

  /movements/{movementId}:
    parameters:
      - $ref: '#/components/parameters/movementIdPath'
    put:
      tags: [Movement]
      summary: Update a waste movement
      description: |
        Updates a movement. Only the organisation that created it may update
        it (D-036), and the previous version is kept (D-034).

        Setting `isDeleted: true` soft-deletes the movement, but only while no
        collection has been recorded against it; afterwards the attempt is
        rejected as a `BusinessRuleViolation`. A further `PUT` with
        `isDeleted: false` restores it. While a movement is deleted, no
        collection can be recorded against it and it cannot be named on a
        Delivery (D-009).
      operationId: updateMovement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createMovementRequest'
      responses:
        '200':
          description: Movement updated.
          headers:
            x-request-id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'

  /movements/{movementId}/collection:
    parameters:
      - $ref: '#/components/parameters/movementIdPath'
    post:
      tags: [Collection]
      summary: Record a collection event for a movement
      description: |
        Appends a collection event to the movement (D-029). The first event is
        a `STATIC` pickup from the producer; each later event is a `TRANSIT`
        driver-to-driver handover, with `receivedFromCarrier` naming the
        carrier the load came from. See `collectionType` and
        `receivedFromCarrier` for the rules.

        Rejected as a `BusinessRuleViolation` once the movement is on any
        Delivery (no further collection events), or while the movement is
        soft-deleted. `isDeleted` must not be sent as `true` here.
      operationId: recordCollection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/collectionRequest'
      responses:
        '201':
          description: Collection event recorded. `data` is null.
          headers:
            x-request-id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recordCollectionResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/collectionNotFound'
        '500':
          $ref: '#/components/responses/500'
    put:
      tags: [Collection]
      summary: Update a collection event (placeholder)
      description: |
        **Placeholder.** How a provider addresses an individual collection
        event to correct or soft-delete it is still open (D-035). Only the
        organisation that recorded an event may change it (D-036), and the
        previous version is kept (D-034).
      operationId: updateCollection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/collectionRequest'
      responses:
        '200':
          description: Collection event updated.
          headers:
            x-request-id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/collectionNotFound'
        '500':
          $ref: '#/components/responses/500'

  /deliveries:
    post:
      tags: [Delivery]
      summary: Record a delivery
      description: |
        Records a delivery of one or more movements to the same site,
        named in `movementIds` (D-007). A Movement may appear on more than
        one Delivery.

        `movementIds` may mix hazardous and non-hazardous movements. The
        server splits them (D-010): all non-hazardous movements go under one
        newly minted Delivery ID, and each hazardous movement becomes its own
        Delivery whose Delivery ID is the Movement ID itself. The response
        lists every resulting Delivery in `data.deliveries[]`, each with its
        `movementIds` and `wasteType` — hand the receiver the right Delivery ID
        for each part of the load.

        `deliverySite`, with its address, is required (D-018). Every movement
        named must exist and be active: a soft-deleted movement, or one with
        no active collection event, is rejected as a `BusinessRuleViolation`
        (D-009). `isDeleted` must not be sent as `true` here.
      operationId: recordDelivery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deliveryRequest'
      responses:
        '201':
          description: Delivery recorded. `data.deliveries[]` lists each resulting Delivery.
          headers:
            x-request-id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deliveryResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '500':
          $ref: '#/components/responses/500'

  /deliveries/{deliveryId}:
    parameters:
      - $ref: '#/components/parameters/deliveryIdPath'
    put:
      tags: [Delivery]
      summary: Soft-delete or restore a delivery
      description: |
        A recorded delivery cannot be edited (D-017). This operation accepts
        only `isDeleted`; any other field is rejected as `NotAllowed`.

        `isDeleted: true` soft-deletes the delivery, but only while no receipt
        has been recorded against it; afterwards the attempt is rejected as a
        `BusinessRuleViolation`. A further `PUT` with `isDeleted: false`
        restores it. To correct a delivery, soft-delete it and record a new
        one with `POST /deliveries`. Only the organisation that recorded the
        delivery may change it (D-036), and the previous version is kept
        (D-034).
      operationId: updateDelivery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deliveryUpdateRequest'
      responses:
        '200':
          description: Delivery soft-delete state updated.
          headers:
            x-request-id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'

  # ----------------------------------------------------------------------
  # Receipt against a Delivery — the ordinary receipt under the current
  # proposal (D-022, Option 1).
  # ----------------------------------------------------------------------

  /deliveries/{deliveryId}/receipt:
    parameters:
      - $ref: '#/components/parameters/deliveryIdPath'
    post:
      tags: [Receipt]
      summary: Record receipt of waste against a delivery
      description: |
        Records receipt of the waste handed over in the given Delivery. One
        receipt covers every movement on the Delivery. Waste items carry
        logistics and actual treatments only — the classification was declared
        at creation (D-042).

        The receipt is cross-checked against what was declared earlier (D-006):
        waste against the movements' creation records, and the carrier against
        the carrier recorded earlier in the journey. Mismatches do not stop the
        receipt being recorded. What counts as a mismatch (D-021), and how
        mismatches are reported (D-046), is still open.

        Rejected as a `BusinessRuleViolation` while the Delivery is
        soft-deleted. `isDeleted` must not be sent as `true` here — it can
        only be set with `PUT /deliveries/{deliveryId}/receipt` (D-009).
      operationId: recordReceipt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/recordReceiptRequest'
      responses:
        '201':
          description: Receipt recorded. `data.deliveryId` echoes the Delivery the receipt was recorded against.
          headers:
            x-request-id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recordReceiptResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/receiptNotFound'
        '500':
          $ref: '#/components/responses/500'
    put:
      tags: [Receipt]
      summary: Update a receipt recorded against a delivery
      description: |
        Updates the receipt recorded against the given Delivery. Only the
        organisation that recorded it may update it (D-036), and the previous
        version is kept (D-034).

        Setting `isDeleted: true` soft-deletes the receipt, for example one
        recorded against the wrong Delivery; a further `PUT` with
        `isDeleted: false` restores it (D-009). The Delivery stays
        undeletable once a receipt has been recorded, even a soft-deleted
        one (D-050).
      operationId: updateReceipt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/recordReceiptRequest'
      responses:
        '200':
          description: Receipt updated.
          headers:
            x-request-id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          $ref: '#/components/responses/receiptNotFound'
        '500':
          $ref: '#/components/responses/500'

  /receipts:
    post:
      tags: [Receipt]
      summary: Record a receipt with no prior delivery
      description: |
        For waste received with no earlier movement, collection or delivery
        recorded (D-041). The request carries the receipt, waste items with
        their full classification (there is no creation record to take it
        from, D-042), and a mandatory `reasonForNoDeliveryId`.

        The server creates an empty Delivery and records the receipt against
        it, in the same request. `data.deliveryId` returns that Delivery's ID;
        from then on the receipt is addressed under
        `/deliveries/{deliveryId}/receipt` like any other. No delivery address
        is asked for. This receipt is not cross-checked, as there is nothing
        earlier to compare it with.
      operationId: recordReceiptWithoutDelivery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/receiptWithoutDeliveryRequest'
      responses:
        '201':
          description: Receipt recorded against a new empty Delivery. `data.deliveryId` holds its Delivery ID.
          headers:
            x-request-id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/receiptWithoutDeliveryResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '500':
          $ref: '#/components/responses/500'

  # ----------------------------------------------------------------------
  # Phase 1 receipt endpoints — live and unchanged.
  #
  # Shown as deprecated under the current proposal, which depends on how
  # receipts are linked to Deliveries (D-022); when and how they would be
  # retired is not decided (D-023). Their bodies are defined by the live
  # Receipt of Waste API reference, not repeated here.
  # ----------------------------------------------------------------------

  /movements/receive:
    post:
      tags: [Receipt]
      summary: Record receipt of waste (Phase 1)
      deprecated: true
      description: |
        **Live Phase 1 endpoint, unchanged.** Shown as deprecated under the
        current proposal, where the ordinary receipt is
        `POST /deliveries/{deliveryId}/receipt` (D-022). Request and response
        bodies are those of the live Receipt of Waste API reference. A
        successful call returns the Phase 1 `wasteTrackingId`.
      operationId: createReceiptMovementLegacy
      security:
        - bearerAuth: []
      externalDocs:
        description: Receipt of Waste API reference (live)
        url: https://defra.github.io/waste-tracking-service/production/apiSpecifications/
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/legacyReceiptRequest'
      responses:
        '201':
          description: Receipt stored. Body carries the `wasteTrackingId` and any validation warnings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  wasteTrackingId:
                    $ref: '#/components/schemas/wasteTrackingId'
                  validation:
                    type: object
                    properties:
                      warnings:
                        type: array
                        items:
                          $ref: '#/components/schemas/validationResult'
        '400':
          $ref: '#/components/responses/legacy400'

  /movements/{wasteTrackingId}/receive:
    parameters:
      - name: wasteTrackingId
        in: path
        required: true
        description: |
          The Phase 1 `wasteTrackingId` returned by `POST /movements/receive`.
          It is not a Movement ID (D-004).
        schema:
          $ref: '#/components/schemas/wasteTrackingId'
    put:
      tags: [Receipt]
      summary: Update a receipt of waste (Phase 1)
      deprecated: true
      description: |
        **Live Phase 1 endpoint, unchanged.** Shown as deprecated under the
        current proposal, where receipts are updated with
        `PUT /deliveries/{deliveryId}/receipt` (D-022). Request and response
        bodies are those of the live Receipt of Waste API reference.
      operationId: updateReceiptMovementLegacy
      security:
        - bearerAuth: []
      externalDocs:
        description: Receipt of Waste API reference (live)
        url: https://defra.github.io/waste-tracking-service/production/apiSpecifications/
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/legacyReceiptRequest'
      responses:
        '200':
          description: Receipt updated. Body carries any validation warnings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  validation:
                    type: object
                    properties:
                      warnings:
                        type: array
                        items:
                          $ref: '#/components/schemas/validationResult'
        '400':
          $ref: '#/components/responses/legacy400'
        '404':
          description: No receipt exists with this `wasteTrackingId`.

  # ----------------------------------------------------------------------
  # Producer-facing read-only query.
  # ----------------------------------------------------------------------

  /movements/{movementId}/fate-of-waste:
    parameters:
      - $ref: '#/components/parameters/movementIdPath'
    get:
      tags: [Fate of waste]
      x-stability: proposal
      summary: Producer query for the fate of their waste (proposal)
      description: |
        **Proposal only.** A producer-facing summary of what happened to a
        movement after it was created. The path and the Movement ID as the
        key are settled; what it returns, and who may read it, is still open
        (D-019).
      operationId: getFateOfWaste
      responses:
        '200':
          description: Movement summary. Response schema to be defined.
          headers:
            x-request-id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                type: object
                description: Proposal — response fields to be defined.
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'

  /reference-data/ewc-codes:
    get:
      tags: [Reference data]
      operationId: listEwcCodes
      security:
        - bearerAuth: []
      description: |
        Endpoint used to get a list of EWC codes. On success <b>200</b>, it returns a code list including a boolean value for the waste type, i.e. Hazardous equals true/false. It returns a <b>401</b> on failure.<br><br>        
        Example Request
        ```json
        curl --request GET \ --url https://waste-tracking.api.defra.gov.uk/reference-data/ewc-codes \
          --header "authorization": Bearer eyJraWQiOiJQYnJiZXZvYUF5d1NQcG5KUWlsQXVCT1Q4aVdyNUFcL3RaQkZHaTk5TU5CTT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiIybHRldX...
        ```
      responses:
        '200':
          description: |
            A truncated list of EWC codes obtained using the GET ewc-codes method<br><br>
            ```json
            [       
            {
              "code": "010101",
              "isHazardous": false,
              "entryTypeDesc": "Absolute non-hazardous",
              "chapter": "Wastes resulting from exploration, mining, quarrying, and physical and chemical treatment of minerals",
              "subChapter": "Wastes from mineral excavation",
              "description": "Wastes from mineral metalliferous excavation"
            },
            {
              "code": "010102",
              "isHazardous": false,
              "entryTypeDesc": "Absolute non-hazardous",
              "chapter": "Wastes resulting from exploration, mining, quarrying, and physical and chemical treatment of minerals",
              "subChapter": "Wastes from mineral excavation",
              "description": "Wastes from mineral non-metalliferous excavation"
            }, ... cont

            ```
            The response fields: "isHazardous", "entryTypeDescription", "chapter" and "subChapter" correspond directly to the hierarchical structure of the waste classification system for EWC codes.<br><br>
            <p><b>isHazardous</b><br>
            This boolean field indicates whether the waste code is classified as hazardous waste (true) or non-hazardous waste (false). This classification is crucial for regulatory compliance and handling procedures.<br><br>
            <b>entryTypeDesc</b><br>
            This describes the type of entry for the waste code. It indicates whether the entry is:<br>
            - Absolute hazardous (always hazardous, marked with *)<br>
            - Absolute non-hazardous (never hazardous)<br>
            - Dual code entry (hazardous or non-hazardous depending on composition).This classification is important for determining if additional assessment is needed.<br><br>
            <p><b>chapter</b><br>
            Refers to the first two digits of the six-digit List of Waste (LoW) code. It defines the main category of waste, usually based on the industry or process generating the waste.<br><br>
            Example:<br><br>
            01 – Wastes from mining and physical/chemical treatment of minerals<br>
            10 – Wastes from thermal processes<br><br>
            </p>
            <p><b>subChapter</b><br>
            Corresponds to the third and fourth digits of the LoW code. It narrows down the category to a more specific process or material within the chapter.<br><br>
            Example:<br><br>
            10 02 – Wastes from the iron and steel industry<br><br>
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      description: |
                        The EWC code.<br>
                      example: 010101
                    isHazardous:
                      type: boolean
                      description: True if the EWC code is for hazardous waste, otherwise False. The full list of valid EWC codes is returned by the GET ewc-codes method.
                      example: true
                    entryTypeDesc:
                      type: string
                      description: The EWC code entry type description.
                      example: Absolute non-hazardous
                    chapter:
                      type: string
                      description: The EWC code chapter.
                      example: Wastes resulting from exploration, mining, quarrying, and physical and chemical treatment of minerals
                    subChapter:
                      type: string
                      description: The EWC code sub-chapter.
                      example: Wastes from mineral excavation
                    description:
                      type: string
                      description: The EWC code description.
                      example: Wastes from mineral metalliferous excavation
  /reference-data/hazardous-property-codes:
    get:
      tags: [Reference data]
      operationId: listHazardousPropertyCodes
      security:
        - bearerAuth: []
      description: |
        Endpoint used to get a list of hazardous property codes. It returns a code list on <b>200</b> success or a <b>401</b> on failure.<br><br>
        Example Request
        ```json
        curl --request GET \--url https://waste-tracking.api.defra.gov.uk/reference-data/hazardous-property-codes \
        --header "authorization": Bearer eyJraWQiOiJQYnJiZXZvYUF5d1NQcG5KUWlsQXVCT1Q4aVdyNUFcL3RaQkZHaTk5TU5CTT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiIybHRldXNlaHN...
        ```
      responses:
        '200':
          description: |
            A truncated list of hazardous property codes obtained using the GET hazardous-property-codes method<br><br>
            ```json
            [
            {
              "code": "HP_1",
              "shortDesc": "Explosive",
              "longDesc": "Waste that can cause dangerous chemical reactions, producing gas that can damage surroundings (e.g., pyrotechnic or self-reactive waste)."
            },
            {
              "code": "HP_2",
              "shortDesc": "Oxidizing",
              "longDesc": "Waste that can provide oxygen, causing or contributing to the combustion of other materials."
            }, ... cont

            ```
            The response fields: "shortDesc" and "longDesc" <br><br>
            <p><b>shortDesc</b> (Short Description)<br><br>
            - A concise label or summary of the hazardous property.<br>
            - Usually just a few words or a short phrase.<br>
            - Intended for quick identification in tables, lists, or UI elements.<br><br>
            Example: "Flammable Liquid" or "Acute Toxicity".<br><br>
            </p>
            <p><b>longDesc</b> (Long Description)<br><br>
            - A more detailed explanation of the hazardous property.<br>
            - Provides context, definitions, or conditions under which the hazard applies.<br>
            - Often includes regulatory references or clarifications.
            </p>
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      description: The hazardous property code. The full list of valid hazardous property codes is returned by the GET hazardous-property-codes method.
                      example: HP_1
                    shortDesc:
                      type: string
                      description: The hazardous property code short description.
                      example: Explosive
                    longDesc:
                      type: string
                      description: The hazardous property code long description.
                      example: Waste that can cause dangerous chemical reactions, producing gas that can damage surroundings (e.g., pyrotechnic or self-reactive waste)
  /reference-data/disposal-or-recovery-codes:
    get:
      tags: [Reference data]
      operationId: listDisposalOrRecoveryCodes
      security:
        - bearerAuth: []
      description: |
        Endpoint used to get a list of disposal or recovery codes.<br>
        Note: The field in the specification is case-sensitive, please use the case specified for the code.<br><br>
        Example Request
        ```json
        curl --request GET \--url https://waste-tracking.api.defra.gov.uk/reference-data/disposal-or-recovery-codes \
        --header "authorization": Bearer eyJraWQiOiJQYnJiZXZvYUF5d1NQcG5KUWlsQXVCT1Q4aVdyNUFcL3RaQkZHaTk5TU5CTT0iLCJhbGciOiJSUzI1NiJ9...
        ```
      responses:
        '200':
          description: |
            A truncated list of disposal or recovery codes obtained using the GET disposal-or-recovery Codes method<br><br>
            Success
            ```json
            [
            {
              "code": "R1",
              "isNotRecoveryToFinalProduct": true,
              "description": "Use principally as a fuel or other means to generate energy"
            },
            {
              "code": "R2",
              "isNotRecoveryToFinalProduct": false,
              "description": "Solvent reclamation/regeneration"                                  
            }, ... cont
            ```
            The field <b>isNotRecoveryToFinalProduct</b> is a boolean flag that indicates whether a specific recovery operation does not result in the manufacture of a new final product.<br><br>
            If the value is true, it means that the recovery process is focused on reclaiming materials or energy without producing a new marketable product. If false, it indicates that the recovery operation leads to the creation of a new final product that can be used or sold.<br><br>
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      description: |
                        The disposal or recovery code (D1-D15 for disposal operations, R1-R13 for recovery operations). 
                        The full list of valid disposal or recovery codes is returned by the GET disposal-or-recovery-codesmethod.
                      example: R1
                    isNotRecoveryToFinalProduct:
                      type: boolean
                      description: True if the disposal or recovery code is not considered recovery to a final product, otherwise False.
                      example: true
                    description:
                      type: string
                      description: The disposal or recovery code description.
                      example: Use principally as a fuel or other means to generate energy
  /reference-data/container-types:
    get:
      tags: [Reference data]
      operationId: listContainerTypes
      security:
        - bearerAuth: []
      description: |
        Endpoint used to get a list of container types. It returns a code list on <b>200</b> success, or a <b>401</b> on failure.<br>        
          Note: The field returned by the method is case-sensitive, please use the case specified for the code.<br><br>
        Example Request
         ```json
        curl --request GET \--url https://waste-tracking.api.defra.gov.uk/reference-data/container-types \
        --header "authorization": Bearer eyJraWQiOiJQYnJiZXZvYUF5d1NQcG5KUWlsQXVCT1Q4aVdyNUFcL3RaQkZHaTk5TU5CTT0iLCJhbGciOiJSUzI1NiJw...
        ```
      responses:
        '200':
          description: |
            A truncated list of container type codes obtained using the GET container-types method<br><br>

            Success
            ```json
            [
              {
                "code": "BAG",
                "description": "Bag / Sack (e.g. rubble bag, refuse sack)"
              },
              {
                "code": "BAL",
                "description": "Bale"
              },
              {
                "code": "BOX",
                "description": "Box / Carton / Crate"
              }, ... cont
            ```
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      description: The container type. The full list of valid container type codes is returned by the GET container-types method
                      example: WBI
                    description:
                      type: string
                      description: The container type description.
                      example: Wheelie Bin (any size)
  /reference-data/pop-names:
    get:
      tags: [Reference data]
      operationId: listPopNames
      security:
        - bearerAuth: []
      description: |
        Endpoint used to get a list of POP (Persistent Organic Pollutant) name codes. It returns a code list on <b>200</b> success or a <b>401</b> on failure.<br><br>
        Example Request
         ```json
        curl --request GET \--url https://waste-tracking.api.defra.gov.uk/reference-data/pop-names \
        --header "authorization": Bearer eyJraWQiOiJQYnJiZXZvYUF5d1NQcG5KUWlsQXVCT1Q4aVdyNUFcL3RaQkZHaTk5TU5CTT0iLCJhbGciOiJSUzI1NiJ9...
        ```
      responses:
        '200':
          description: |
            A truncated list of POP names obtained using the GET pop-names method<br><br>
            Success<br><br>
            ```json
            [
            {
              "code": "END",
              "chemicalName": "Endosulfan"
            },
            {
              "code": "HCBD",
              "chemicalName": "Hexachlorobutadiene"
            },
            {
              "code": "PCNS",
              "chemicalName": "Polychlorinated naphthalenes"
            }, ... cont
            ```
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      description: The POP name. The full list of valid POP names is returned by the GET pop-names method.
                      example: END
                    chemicalName:
                      type: string
                      description: The POP chemical name.
                      example: Endosulfan
